form#form-help input,form#form-help-new input,
textarea#usermessage {
    border: none;
    margin-bottom: 15px;
    height: 60px;
    /*padding-left: 0;*/
}
.form-sectn {
    padding: 0 0 50px;
}
form#form-help input,form#form-help-new input {
    border-bottom: 1.2px solid rgba(253, 23, 22, 0.14) !important;
    border: 1.2px solid rgba(253, 23, 22, 0.14);
    border-radius: 6px !important;
    box-shadow: 0px 28.19px 43.84px 0px rgba(43, 43, 43, 0.1);
    padding:10px;
}
form#form-help input.button-submit,
form#form-help-new input.button-submit{
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 10px 35px;
    border: 0px solid !important;
    border-color: transparent !important;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    box-shadow: 0 0 0 2px #fe5855;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    background: rgba(40, 40, 43, 1);
    line-height: 28px;
    border-radius: 120px !important;
}
form#form-help input.button-submit:hover,
form#form-help-new input.button-submit:hover{
    box-shadow: 0 0 0 12px transparent;
    color: #fff;
    border-radius: 12px !important;
    background: #fe5855;
}
form#form-help input.button-submit::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fe5855;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
form#form-help input.button-submit:hover:before {
    width: 420px;
    height: 420px;
    opacity: 1;
}
section.form-sectn h1,
section.form-sectn h3 {
    font-weight: 800;
}
section.form-sectn h3 {
    margin-bottom: 40px;
}
textarea#usermessage {
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
    margin-top: 5px;
}
select#userbudget {
    width: 100%;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    height: 60px;
    padding-left: 0;
    border-bottom: 1px solid #d1d1d1;
}
.form-controls input[type="checkbox"] {
    height: auto !important;
}
section.form-fill .banner-right {
    position: relative;
    padding-top: 0 !important;
}
.banner-right{
    height:auto;
    display:block;
}
.outer-flags-flag{
      display:block !important;
}
input.form-control.button-submit {
    display: inline-block;
    padding: 15px 58px 19px !important;
    width: 100%;
    text-align: center;
    font-size: 20px;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #ff0f0f 0, #ff4849 100%); */
    /* backdrop-filter: blur(10px); */
    color: #fff;
    border-radius: 8px !important;
    margin-bottom: 0 !important;
    margin-top: 20px;
    height: 58px !important;
    background: rgba(40, 40, 43, 1);
    border: 1px solid var(--para-clr) !important;
}
ul.contact-social-icons {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}
ul.contact-social-icons li a img {
    width: 40px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}
ul.contact-social-icons li {
    margin-bottom: 20px;
}
ul.contact-social-icons li a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
.left-form {
    padding-right: 0 !important;
}
.main-social-form {
    background: #373636;
    padding: 40px !important;
    color: #fff;
}
ul.contact-social-icons,
ul.contact-social-icons li:last-child {
    margin-bottom: 0;
}
.right-form {
    padding-left: 30px;
}
ul.contact-social-icons li a:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 5px #dddbdb;
    border-radius: 50%;
}
form#form-help input[type="email"],
form#form-help input[type="text"],
form#form-help select,
form#form-help textarea,
form#form-help-new input[type="email"],
form#form-help-new input[type="text"],
form#form-help-new select,
form#form-help-new textarea {
    font-size: 16px;
    color: #7b838a;
}
form#form-help label,
form#form-help-new label {
    font-size: 17px;
    padding-bottom: 13px;
}
select#countries {
    width: 100%;
    height: 60px;
    border-bottom: 1.2px solid rgba(253, 23, 22, 0.14) !important;
    border: 1.2px solid rgba(253, 23, 22, 0.14);
    border-radius: 6px !important;
    box-shadow: 0px 28.19px 43.84px 0px rgba(43, 43, 43, 0.1);
}
textarea#usermessage{
        border-bottom: 1.2px solid rgba(253, 23, 22, 0.14) !important;
    border: 1.2px solid rgba(253, 23, 22, 0.14);
    border-radius: 6px !important;
    box-shadow: 0px 28.19px 43.84px 0px rgba(43, 43, 43, 0.1);
}
input#social-info-block {
    font-size: 20px;
    width: 77%;
}
select#id_select2_example {
    width: 20%;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    height: 60px;
    padding-left: 0;
    border-bottom: 1px solid #d1d1d1;
}
/*.form-left-content{*/
/*    height:auto !important;*/
/*}*/
.social-info-block-outer {
    display: flex;
    justify-content: space-between;
}
.social-contact-out-list {
    border-bottom:none !important;
        width: 74px !important;
}
.init {
    display: block !important;
    padding-bottom: 11px;
    padding-top: 15px;
    border-bottom: 1.2px solid rgba(253, 23, 22, 0.14) !important;
    border: 1.2px solid rgba(253, 23, 22, 0.14);
    border-radius: 6px !important;
    box-shadow: 0px 28.19px 43.84px 0px rgba(43, 43, 43, 0.1);
}

.dropdown .select-media-inner a {
    background: 0 0;
    display: block;
    padding-right: 0;
    border: none;
    width: 150px;
    border-bottom: 1px solid #ccc !important;
}
.dropdown .select-media-dropdown,
.dropdown .select-media-inner {
    margin: 0;
    padding: 0;
}
.dropdown .select-media-inner a span {
    cursor: pointer;
    padding: 15px 0;
    color: #757575;
    font-size: 20px !important;
    display: inline-block;
    width: 100%;
}
.select-media-inner i {
    font-size: 12px !important;
    float: right;
    position: relative;
    top: 5px;
}
.dropdown .select-media-dropdown {
    background: #fff;
    color: #c5c0b0;
    display: none;
    left: 0;
    padding: 5px 0;
    position: absolute;
    top: 65px;
    width: auto;
    min-width: 160px;
    list-style: none;
}
.dropdown .select-media-dropdown li a {
    padding: 10px 5px;
    display: block;
}
.dropdown img.flag {
    border: none;
    vertical-align: middle;
    margin-left: 0;
    width: 30px;
    margin-right: 10px;
}
.dropdown a,
.dropdown a:visited {
    color: #816c5b;
    text-decoration: none;
    outline: 0;
}
.left-form.right-form {
    padding-left: 40px !important;
}
form#form-help {
    padding: 0 !important;
    border: none !important;
    background:none !important;
    box-shadow: none !important;
}
form#form-help h4 {
    color: #000 !important;
    letter-spacing: 1px;
    font-weight: 800 !important;
    font-size: 22px !important;
}

body.contact-us-main-page section.index-form-sectn {
    padding:0;
    position: relative;
}
.form-left-content{
    display:block;
}
.contant-banner {
    background: linear-gradient(98.28deg, rgba(255, 100, 97, 0.3) 0.21%, rgba(255, 100, 97, 0) 181.93%);
        padding: 150px;
}
section.form-fill {
    padding-top: 100px;
}
section.form-fill h3 {
    font-size: 45px !important;
    font-weight: var(--weight-600);
    text-align: var(--center);
    margin-bottom: var(--mar-50px);
}
.follow-icon {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top:30px;
}

.follow-icon {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.follow-icon img {
    width: 28px;
}

.fb-icon {
    box-shadow: 0px 22.5px 35px 0px rgba(244, 105, 104, 0.3);
    background: rgba(255, 255, 255, 1);
    padding: 8px;
    border-radius: 6px;

    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 4px;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.fb-icon i {
    color: #000;
    font-size: 25px;
}

.follow-us-media p {
    font-size: 25px !important;
    font-weight: 600 !important;
}

.follow-us-media {
    margin: 25px;
    width: 96%;
}

.form-img {
    position: absolute;
    top: 0;
}

.form_group.code {
    display: flex;
}

.code-input {
    display: flex;
    gap: 7px;
}

.code-input input:first-child {
    width: 100px;
    border-radius: 9px 0 0 9px !important;
    background: #fff !important;
}

.code-input input:last-child {
    border-radius: 0 9px 9px 0 !important;
}

input.contact-field {
    width: 100%;
    padding: 0 10px;
}

input.contact-field:focus {
    outline: none;
}

ul#social_select li i {
    cursor: pointer;
}

input#social_contact {
    padding: 14px 17px;
    border-radius: 5px;
    height: 58px;
    border: 0.86px solid #FD171624;
    box-shadow: 0px 23.2px 36.09px 0px #2B2B2B1A;
    width: 100%;
}

section.index-form-sectn .form-left-content h4 {
    font-size: 40px !important;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: .5px;
    font-family: poppins !important;
}

:not(.accrd-panel-head)>h4 span {
    font-size: 52px !important;
    line-height: 60px !important;
}

section.form-fill .row {
    align-items: center;
}


.form-fill .shade {
    position: relative;
}

.form-fill .shade::before {
    content: "";
    position: absolute;
    background: #fd17163b;
    width: 100%;
    height: 50%;
    filter: blur(31px);
    z-index: -1;
    top: 0;
}

.form-fill .c_flx {
    display: flex;
       gap: 15px;
    width: 96%;
}

.form-fill .c_flx>div {
    display: flex;
}

.form-fill .c_flx>div:nth-child(1) {
    width: 47%;
}

.form-fill .contact-img {
    box-shadow: 2px -4px 26px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    margin-bottom: 50px;
}

.form-fill .contact_box {
    box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    border: 5.39px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 19px;
}

.form-fill .contact_box p {
    font-weight: 600;
    font-size: 17px;
    color: #000;
}

.form-fill .contact_box .red_txt {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 17px;
    color: #fd1716;
}

.form-fill .contact_box .red_txt span {
    font-size: 17px;
}

.form-fill .contact_box .address {
    font-weight: 400;
    font-size: 17px;
    line-height: 180%;
    color: #000;
}

section.form-fill .form_right {
    background: #fff;
    box-shadow: 0 22px 34px 0 rgba(244, 105, 104, 0.3), 0 22px 34px 0 rgba(244, 105, 104, 0.3);
    border-radius: 16px;
    padding: 24px !important;
}

section.form-fill .head_txt {
    font-weight: 700;
    font-size: clamp(32px, 4vw, 40px);
    letter-spacing: 0.02em;
    color: #000;
    margin-bottom: 20px;
}

section.form-fill .head_txt span {
    color: #fd1716;
    font-weight: 700;
    font-size: clamp(32px, 4vw, 40px);
    letter-spacing: 0.02em;
}

section.form-fill .list {
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    flex-wrap: wrap;
}

section.form-fill .list li {
    padding-left: 30px;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

section.form-fill .list li::before {
    content: "";
    position: absolute;
    background: url("../assets/images/contactup/right_arw.svg") no-repeat center;
    width: 17px;
    height: 16px;
    left: 5px;
    top: 5px;
}