h1,
h1 span {
    font-size: 60px !important;
    font-weight: 400 !important;
}
h2,
h2 span{
    font-size: 40px !important;
    font-weight: 800 !important;
}
.banner-right img {
    /*position: absolute;*/
    bottom: 0 !important;
    right: 0;
    z-index: -1;
    /*overflow: visible;*/
    width: 100% !important;
    /*top: 0;*/
}
.primary-eat-bsc-cont p {
    margin-bottom: 30px !important;
}
.light-blue-img img,
.light-pink-img img {
    position: relative;
    /*top: 13px !important;*/
}
.bar-indicator.carousel-indicators2 {
    width: 50%;
    margin: 0 0 -93px;
    right: 0;
    left: auto;
    top: auto;
    bottom: 13% !important; 
    position: absolute;
    display: flex;
    justify-content: center;
}
section.crypto-exchange h2.overview-cls, section.crypto-exchange h4.overview-cls {
    max-width: 1000px;
    margin: 0 auto 40px;
}
section.bsc-scalable-architect.primary-feature-bsc h2 {
    margin-bottom: 50px;
}
.riorous-security-head h5,
section.build-on-any-platform h4 {
    font-weight: 800;
}
h2.overview-cls {
    font-weight: 800 !important;
}
section.interested-to-see-bsc {
    margin-top: 0 !important;
} /*body section.banner-part{padding-top:0!important}*/
section.banner-part h1.head-banner-head-hightlght,
section.banner-part h1.head-banner-head-hightlght span {
    font-weight: 800 !important;
    letter-spacing: 1px;
    line-height: 70px !important;
    margin-bottom: 30px !important;
    font-size: 48px !important;
}
section.banner-part h2 {
    margin-bottom: 20px !important;
}
section.interested-to-see-bsc h4 {
    font-size: 30px !important;
    text-align: center !important;
}
h5.top-notch-h3,
section.build-on-any-platform h4,
section.crypto-exchange h2.overview-cls,
section.interested-to-see-bsc h4 {
    font-size: 40px !important;
    text-align: center !important;
}
section.banner-part h1 {
    margin-bottom: 0 !important;
}
p.head-banner-head-hightlght,
p.head-banner-head-hightlght span {
    font-size: 60px !important;
    font-weight: 800 !important;
    margin-bottom: 20px !important;
    line-height: 60px !important;
}
p.head-banner-head-hightlght span {
    color: #cc1212;
}
.own-your-crypto-left h3 {
    color: #fff;
    font-size: 32px !important;
}
.explore-the-benefits .process-right h5 {
    font-size: 40px !important;
    font-weight: 800 !important;
    margin-bottom: 20px !important;
}
.faq-cls-sectns .perks-benfits h5 {
    display: flex;
    font-weight: 800;
    font-size: 18px !important;
        text-align: left !important;
}
section.related-blog-posts .inner-block-blog .post-title a h6 {
    font-size: 20px !important;
    color: #000;
    font-weight: 600;
    line-height: 30px;
    min-height: 90px;
}
.post-title h6:hover {
    text-decoration: underline;
}
.explore-the-benefits .process-right h5,
h5.top-notch-h3,
section.build-on-any-platform h4,
section.crypto-exchange h2.overview-cls,
section.dev-servce h3,
section.endores h2,
section.modern-tech h3 {
    color: #000;
    font-weight: 600;
    font-size:40px !important
}
@media (min-width: 768) and (max-width: 991.98px) {
    h1.head-banner-head-hightlght {
        font-size: 40px !important;
        line-height: 53px !important;
        font-weight: 800 !important;
        margin-bottom: 20px !important;
    }
    .faq-sectn .perks-benfits .accrd-panel-body p,
    .faq-sectn .perks-benfits p.icon-tab,
    p.icon-tab {
        margin-top: 20px !important;
    }
    section.banner-part h1.head-banner-head-hightlght,
    section.banner-part h1.head-banner-head-hightlght span {
        line-height: 53px !important;
        font-size: 57px !important;
    }
    .process-right {
     padding-left: 0px !important; 
    }
    /*final changes*/
    section.build-on-any-platform h4{
    }
    .explore-the-benefits .process-right h5, h5.top-notch-h3, section.build-on-any-platform h4,
    section.crypto-exchange h2.overview-cls, section.dev-servce h3, section.endores h2,
    section.modern-tech h3, section.dev-servce.dev-servce-feature.py-md-0 .contain-width h4, .interested-to-see-bsc h4, section.faq-sectn .contain-width h5,
    section.prefer-binance-script .contain-width h4, section.top-notch h3.top-notch-h3, section.build-on-any-platform .inner-block-build h3, section.prefer-binance-script h5,
    section.interested-to-see-bsc h5, section.interested-to-see-bsc .contain-width h2, section.top-notch h4.top-notch-h3, .explore-the-benefits .process-right h5,
    section.next-gen h4.overview-cls, section.crypto-exchange.py-5 h5.overview-cls, section.capitlize-dynamic h5,
    section.gateway-development-services h5, section.dev-servce-feature .contain-width h4, section.top-industries h5,
    section.dev-servce-feature h5, section.top-industries .contain-width h4, section.related-blog-posts .contain-width h6,
    section.cex .contain-width .row.desktop-clone-script-build h4, section.user-features-section.dev-servce.dev-servce-feature h4,
    h2.bybit-title, section.crypto-exchange .contain-width h4.overview-cls, section.build-on-any-platform .contain-width h5,
    .riorous-security-head h5, section.methodology-metamask-wallet .contain-width h4, section.Web3-0.sbap .contain-width .develop-service h4,
    section.endores .contain-width h4{
    color: #000;
    font-weight: 600;
    font-size:35px !important
}
.row.mobile-clone-script-build section.faq-sectn {
    display: block !important;
}
 /*final changes*/
}
@media (max-width: 767.98px) {
    .top-notch-main-img img {
        width: 20% !important;
    }
    .faq-sectn .perks-benfits .accrd-panel-body p,
    p.icon-tab {
        margin-top: 20px !important;
    }
    section.top-notch {
        padding-top: 30px !important;
    }
    section.banner-part p.head-banner-head-hightlght,
    section.banner-part p.head-banner-head-hightlght span {
        font-size: 30px !important;
        line-height: 30px !important;
    }
    .riorous-security-head .contain-width h5,
    h2.overview-cls,
    h5.top-notch-h3,
    section.bsc-scalable-architect.primary-feature-bsc h2,
    section.build-on-any-platform h4,
    section.crypto-exchange h2.overview-cls,
    section.interested-to-see-bsc h4,
    section.key-feature.serv h2,
    section.opris-integration h2,
    section.softwre-potrait h2,
    section.stack-preferable h2,
    section.tech-stack h2,
    span.h2-span {
        font-size: 30px !important;
        text-align: center !important
        line-height: 1.2 !important;
    }
    /*.banner-right img {*/
    /*    display: none !important;*/
    /*}*/
    h5.top-notch-h3 {
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .crypto-exchange {
        padding-top: 20px !important;
    }
    h1 {
        text-align: left !important;
    }
    body section.banner-part h1.head-banner-head-hightlght,
    section.banner-part h1.head-banner-head-hightlght span {
        font-size: 30px !important;
        line-height: 37px !important;
        font-weight: 800 !important;
        margin-bottom: 20px !important;
    }
    section.banner-part h1.head-banner-head-hightlght,
    section.banner-part h1.head-banner-head-hightlght span {
        font-size: 30px !important;
    }
    /*final changes*/
    section.bsc-scalable-architect.primary-feature-bsc h3.overview-cls, h5.top-notch-h3, section.dev-servce.dev-servce-feature.py-md-0 .contain-width h4,
    .interested-to-see-bsc h4, section.faq-sectn .contain-width h5, section.prefer-binance-script .contain-width h4, section.top-notch h3.top-notch-h3, section.build-on-any-platform .inner-block-build h3, section.prefer-binance-script h5,
    section.interested-to-see-bsc .contain-width h5, section.interested-to-see-bsc .contain-width h2, section.top-notch h4.top-notch-h3, .explore-the-benefits .process-right h5,
    section.next-gen h4.overview-cls, section.crypto-exchange.py-5 h5.overview-cls, section.capitlize-dynamic h5,
    section.gateway-development-services h5, section.dev-servce-feature .contain-width h4, section.top-industries h5,
    section.dev-servce-feature h5, section.top-industries .contain-width h4, section.related-blog-posts .contain-width h6,
    section.cex .contain-width .row.desktop-clone-script-build h4, section.user-features-section.dev-servce.dev-servce-feature h4,
    h2.bybit-title, section.crypto-exchange .contain-width h4.overview-cls, section.build-on-any-platform .contain-width h5,
    section.modern-tech .contain-width h3,.riorous-security-head h5, section.methodology-metamask-wallet .contain-width h4, section.Web3-0.sbap .contain-width .develop-service h4,
    section.endores .contain-width h4
    {
    font-size: 30px !important;
    }
        section.banner-part .para-banner-button p {
        color: #090808;
        font-size: 16px !important;
        line-height: 1.9;
    } 
        section.banner-part .banner-right img {
        position: relative !important;
        width: 100% !important;
    }
    .row.mobile-clone-script-build section.faq-sectn {
    display: block !important;
    }
    .para-banner-button .tick-img-banner img {
        width: 36px !important;
        height: 30px !important;
    }
         body.bybit h3.bybit-title, body.bybit h4.bybit-title, body.bybit h5.bybit-title {
        line-height: 29px !important;
        font-size: 24px !important;
    }
body.bybit .proc-dev {
     margin-left: 0px !important; 
    display: flex;
}
.crypto-exchange-right::before{
    display:none;
}
.intelignce-btn.d-flex.justify-content-center{
    flex-direction:column !important;
}
    /*final changes*/
}
.faq-sectn .perks-benfits p {
    font-size: 16px !important;
}
@media (min-width: 1200px) and (max-width: 2560px) {
    .swiper-backface-hidden .swiper-slide {
        width: 31% !important;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .swiper-slide {
        width: 31% !important;
    }
    .banner-right img {
        position: absolute;
        bottom: 37px !important;
        right: 0;
        z-index: -1;
        /*overflow: visible;*/
        width: 68% !important;
        top: 0;
        height: 100%;
    }
    section.process-coin.explore-the-benefits .process-left {
        padding-top: 33rem !important;
        padding-bottom: 33rem !important;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .banner-right img {
        position: absolute;
        bottom: -278px !important;
        right: 0;
        z-index: -1;
        /*overflow: visible;*/
        width: 60% !important;
        top: 0;
    }
}
@media (min-width: 1401px) and (max-width: 1859.98px) {
    .banner-right img {
        position: absolute;
        bottom: -278px !important;
        right: 0;
        z-index: -1;
        /*overflow: visible;*/
        width: 60% !important;
        top: 0;
    }
    .banner-right.pax img {
        width: 63% !important;
    }
}
@media (min-width: 1860px) and (max-width: 2560px) {
    .banner-right img {
        position: absolute;
        bottom: -278px !important;
        right: 0;
        z-index: -1;
        /*overflow: visible;*/
        width: 47% !important;
        top: 0;
    }
}
@media (min-width: 1025px) {
    section.process-coin.explore-the-benefits .process-left {
        padding-top: 24rem !important;
        padding-bottom: 24rem !important;
    }
}
.post-img img {
    width: 100% !important;
    height: 100% !important;
}
section.interested-to-see-bsc .intelignce-btn ul {
    margin-top: 20px;
}
/*final changes*/
section.build-on-any-platform h5, .riorous-security-head .contain-width h5, h5.steps{
    font-size: 40px !important;
    font-weight: 800 !important;
}
section.build-on-any-platform .inner-block-build h5, section.process-coin.explore-the-benefits .light-pink-cont h5, section.process-coin.explore-the-benefits .light-blue-cont h5 {
    font-size: 22px !important;
    font-weight: 800 !important;
}
h4.stack-con{
    font-size:20px !important;
    text-align: center;
}
section.footer-part ul li a {
    white-space: nowrap;
}
.light-blue-cont h5, .light-pink-cont h5{
    text-align:left !important;
}
form#form-help input, textarea#usermessage  {
    border-bottom: 1px solid #d1d1d1 !important;
}
.banner-right {
    justify-content: right !important;
     width: auto !important; 
}
form#form-help {
    background: #fff !important;
}


ul.follow-icon-list li:last-child img {
    width: 39px !important;
        max-width: 120px;
    /* height: 84px; */
}
.business-overwhelm-inner h3 {
    font-size: 25px !important;
}
.get-started a, section.build-on-any-platform .inner-block-build h4 {
    font-size: 20px !important;
    font-weight: 600;
}
section.bsc-scalable-architect.primary-feature-bsc h3, section.dev-servce.dev-servce-feature h4, 
section.dev-servce.dev-servce-feature.py-md-0 h4, .interested-to-see-bsc h4, section.faq-sectn h5, section.prefer-binance-script h4, h3.top-notch-h3,
section.build-on-any-platform .inner-block-build h3, section.prefer-binance-script h5, section.interested-to-see-bsc h5,
section.interested-to-see-bsc h2, h4.top-notch-h3, section.next-gen h4, section.crypto-exchange.py-5 h5, section.capitlize-dynamic h5, 
section.gateway-development-services h5, section.dev-servce-feature h4, section.top-industries h5, section.top-industries h4,
section.related-blog-posts h6, section.cex .row.desktop-clone-script-build h4, section.crypto-exchange h4.overview-cls,
section.build-on-any-platform h5, .riorous-security-head h5, section.methodology-metamask-wallet h4, section.Web3-0.sbap .develop-service h4,
section.endores h4{
    font-size: 40px !important;
    font-weight: 800 !important;
    text-align:center !important;
}
.explore-the-benefits .process-right h5, .riorous-security-head h5, section.gateway-development-services h5, section.cex .row.desktop-clone-script-build h4{
        text-align:left !important;
}
h3.top-notch-h3, h4.top-notch-h3 {
    max-width: 690px !important;
    margin:0px auto 20px;
}
.business-overwhelm .business-overwhelm-inner h3{
    margin-bottom:16px;
}
section.bsc-scalable-architect.primary-feature-bsc .primary-eat-bsc-cont h3{
    font-size:24px !important;
    font-weight: 600;
    text-align:left !important;
}
section.build-on-any-platform h5 {
    max-width: 650px;
    margin: 0 auto;
}
section.dev-servce-feature h4 {
    max-width: 730px;
    margin: 0 auto;
}
.row.admin-features-of-binance-clone .inner-dev h5{
    font-size:20px !important;
}
section.user-features-section h4 {
    margin-bottom: 40px;
}
section.interested-to-see-bsc h3, section.interested-to-see-bsc h4 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}
.right-detail a {
    color: #cc1212 !important;
    font-size: 18px;
}
.detail-desc p {
    color: #000 !important;
}
.row.mobile-clone-script-build section.faq-sectn {
    display: none;
}
.row.mobile-clone-script-build section.faq-sectn h4 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 40px;
}
.row.user-features-of-binance-clone .inner-dev h5 {
    font-size: 20px !important;
}
/*.tick-img-banner img {*/
/*    width: auto !important;*/
/*    height: auto !important;*/
/*}*/
.desktop-token-three-ways .meta-vese-inner.card-tab .tabs.card .tablinks.active h4{
    color:#fff !important;
}
section.cex button.tablinkss h4.meta-head, section.cex.dex button.tablinksss h4.meta-head {
    margin-bottom: 0;
    text-align: left;
    font-size: 16px !important;
    font-weight: 800;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-top: 10px;
}
li.nav-item.last-menu a.nav-link.menu-last span {
    font-size: 17px !important;
    white-space: nowrap !important;
}
.content-text h5 {
    font-size: 23px !important;
    font-weight: 700;
    line-height: 22px;
}
body.bybit h3.bybit-title, body.bybit h4.bybit-title, body.bybit h5.bybit-title {
    font-size: 40px !important;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 10px;
}
body.bybit section.futuristic-features h4.card-title, .features-content-block.card h5.card-title {
    padding-top: 20px;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
.ai-inner-content h4{font-weight:700!important;font-size:28px!important}
.right-detail-img img {
    width: 207px;
    height: 207px;
}
.card-title.d-flex h5{
    font-size: 20px;
    line-height: 25px;
    text-align: center !important;
    color: rgba(0, 0, 0, .75);
    margin: 0 auto 20px;
    font-weight: 700;
}
.light-blue-cont::before, .light-pink-cont::before {
    left: -8px !important;
}
.proc-dev{
    left:0px;
}
.proc-dev.aos-init .light-blue-cont, .proc-dev.aos-init .light-pink-cont {
     padding-left: 27px !important; 
}
section.endores h5.meta-head {
    white-space: nowrap;
}
.timeline ul li h5 {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px !important;
    line-height: 26px;
    color: #000;
}
.timeline ul li:nth-child(2n) {
    float: none !important;
}
/*final changes*/