@import url('./root.css');
body{
    font-family:poppins;
}
h2,
section.faq h3 {
    font-size: var(--font-42);
    font-weight: var(--weight-600);
    margin-bottom: var(--mar-30px);
    text-transform: capitalize;
        line-height: 1.3;
}
section.various-crypto h3{
        font-size: 30px !important;
        margin: 0 auto var(--mar-30px);
        color:#fff !important;
        max-width: 800px;
}
h3 {
    font-size: 24px;
    font-weight: var(--weight-600);
    letter-spacing: 0.01em;
    text-transform: capitalize;
     line-height: 1.3 ;
}

section.faq h3 {
    text-align: var(--center) !important;
}

.banner-img img{
    width: 659px;
    height: 627px;
    
}
.head-text {
    text-align: var(--center) !important;
    margin-bottom: 50px;
}
.section-top-pt{
    padding-top:80px;
}
.section-top-mt{
    margin-top:80px;
}
.banner-part .best {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #fd1716;
}

.banner-part .success {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #fd1716;
    text-decoration: underline;
    width: fit-content;
    padding-bottom: 7px;
}
section.banner-part {
    padding: 50px 0 0;
    position: var(--position-rel);
    /*height:calc(100vh + 20px);*/
}
section.banner-part .contain-width{
    height:100%;
    display:flex;
    align-items:center;
}
section.banner-part .explore-btn {
    margin-bottom: clamp(30px,5vw,60px);
    margin-top:40px !important;
}
.crypto-gateway{
        text-align: var(--center) !important;
      max-width:950px;
      margin:0 auto;
}

.banner-part::after {
    position: var(--position-abs);
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(113.24deg, rgba(255, 100, 97, 0.3) 0.49%, rgba(255, 100, 97, 0) 65.02%);
    background: linear-gradient(130deg, #fff 28.92%, #ff4947 83.52%);
    top: 0;
    opacity: 0.6;
    z-index: -1;
}

section.banner-part h1 {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 40px;
    max-width: 500px;
    line-height: 1.3;
}


section.banner-part .row {
    align-items: var(--align-c);
}
.explore-btn a {
    color: #000;
    position: relative;
    padding: 10px 35px;
    border: 0px solid !important;
    /* border-color: transparent !important; */
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    box-shadow: 0 0 0 2px #781d1d;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
}
.explore-btn a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fe5855;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.explore-btn a:hover:before {
    width: 420px;
    height: 420px;
    opacity: 1;
}
.explore-btn a:hover{
    box-shadow: 0 0 0 12px transparent;
    color: #fff;
    border-radius: 12px;
}
.demo-btn {
    margin-top: 60px;
}


section.cryptocurrency-payment p,.block-feature p{
    letter-spacing: 0.01em;
    line-height: 1.6;
}
section.invest{
    padding: 80px 0 !important;
    background: var(--linear-bg);
    color: var(--white-text);
}
section.invest ul li {
    list-style: disc;
    letter-spacing: 0.01em;
    padding-bottom:10px;
}
section.invest ul {
    margin: 50px 0;
}
.block-feature{
    padding:15px 30px;
    display:flex;
    align-items: var(--align-c);
    gap:15px;
    margin-bottom:clamp(10px,5vw,25px);
    background:#F9EFFF;
    border-radius:5px;
}
.block-feature p{
    font-size:20px !important;
    line-height:1.3; 
    margin-bottom:0 !important;
     font-weight: 600 !important;
}

.revenue-modules h2 {
    max-width: 1000px;
    margin: 0 auto 30px;
}

section.revenue-modules p {
    margin: 0 auto;
    max-width: 800px;
}
.development-card {
    box-shadow: 0px 31.5px 49px 0px #F469684D;
    padding: 20px 60px 20px 20px;
    margin: 0 20px 25px;
    border-radius: var(--radius-16px);
    height:91%;
}
.development-card-head {
    display: flex;
    align-items: var(--align-c);
    gap: 20px;
    margin-bottom: 15px;
}
section.revenue-modules .item {
    position: relative;
    border: 1px solid #ff1717;
    border-radius: 5px;
    box-shadow: 3px 4px 7px 0 rgba(0, 0, 0, 0.34);
    background: #fff;
    align-items: unset;
}
section.revenue-modules .img-box {
    border: 1px solid #fd1716;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 30px;
}
section.revenue-modules.section-top-pt .item img {
    height: auto;
    object-fit: unset;
}
section.revenue-modules.section-top-pt .owl-stage{
    display: flex;
}
section.revenue-modules.section-top-pt .owl-item{
    height: auto !important;
}
section.revenue-modules.section-top-pt .owl-nav button.owl-prev {
    left: unset;
    right: 70px;
    top: unset;
    bottom: -10px;
}
section.revenue-modules.section-top-pt .owl-nav button.owl-next {
    left: unset;
    right: 25px;
    top: unset;
    bottom: -10px;
}
section.revenue-modules.section-top-pt .contain-width {
    overflow: visible;
    padding: 25px 10px !important;
}
section.revenue-modules .contain-width .owl-height{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}
section.revenue-modules.section-top-pt .owl-item {
    height: auto !important;
}
section.revenue-modules .item h3,section.revenue-modules .item p{
    text-align:left !important;

}
section.revenue-modules .item h3{
        margin-top:20px !important;
}
.crypto-box {
    text-align: var(--center);
    background: rgba(243, 243, 243, 1);
    padding: 25px;
    border-radius: 8px;
    position: var(--position-rel);
    height: 100%;
}
.crypto-box:hover {
    transform: translateY(-12px);
    transition: all .3s ease;
}
.crypto-box h3 {
    font-size: var(--font-16);
    font-weight: 700;
      margin: clamp(15px, 5vw, 25px) auto;
    max-width: 168px;
}
.crypto-box h3.max-width-two{
    max-width:230px;
}
.crypto-icon {
   margin: -50px auto 0;
   width:46px;
  background: linear-gradient(47.82deg, #FF1717 0%, #FF6461 100%);
  box-shadow: 0.93px 0.93px 6.48px 0px #36363659;
  border-radius:7px;
padding:7px 8px;

}

.bottom-space {
    margin-bottom: 75px;
}
section.various-crypto {
    background: linear-gradient(267.67deg, #012442 1.52%, #000000 155.37%);
padding:80px 0;
    
}
.strong-benefit-box p {
  font-weight: 600 !important;
  color:#fff;
}
.strong-benefits-blocks {

    text-align: center;
    padding: 10px;
    display: flex;
        gap: clamp(15px, 5vw, 50px);
    max-width: 700px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.strong-benefit-img {
  margin-bottom: clamp(10px, 5vw, 25px);
}


section.other-features h2 {
    max-width: 800px;
    margin: 0 auto;
}
.other-features-tab{
       background: linear-gradient(267.41deg, #012442 1.68%, #000000 156.79%);
}
.other-features-tab-nav {
    border: 1px solid #4E4E4E80;
    background: #FFFFFF33;
    color: #fff !important;
    width: 38%;
}
.other-features-tab-content {
    padding: 30px 20px;
    width: 100%;
    color: #fff;
}
.other-features-tab .nav-pills .nav-link {
    color: #fff;
    border-radius: 0 !important;
    display: flex;
    padding: 34px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #4E4E4E80;
    align-items: center;
    outline: 0;
    border: 0;
    gap:10px;
}

.other-features-tab .nav-pills .nav-link.active {
    background: linear-gradient(267.41deg, #012442 1.68%, #000000 156.79%);
    border: 0 !important;
}
.other-features-tab ul li{
  list-style: disc;
    letter-spacing: 0.01em;
    padding-bottom:12px;
text-align: left;
font-size:20px;

}
.other-features-tab ul{
    margin-bottom:0 !important;
}

.ourtop-whitelabel .box {
    box-shadow: 0 31px 49px 0 rgba(244, 105, 104, 0.3), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 16px;
    padding: 15px 20px;
    padding-left: 40px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.choose-opris ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px 10px;
    font-weight: 600;
font-size: 20px;
letter-spacing: 0.01em;
color: #000;
}
.choose-opris li{
    background: #f9efff;
    border-radius: 200px;
    padding: 12px 25px;
}

section.wallet-development-services .head-text {
    text-align: var(--center);
    margin-bottom: 60px;
}

section.wallet-development-services .head-text h2 {
    max-width: 750px;
    margin: 0 auto 30px;
}

section.wallet-development-services .head-text p {
    max-width: 700px;
    margin: 0 auto;
}


section.wallet-development-services .row {
    justify-content: center;
}

.bottom-space {
    margin-bottom: 80px;
}

.services-box {
    padding: 30px;
    border-radius: var(--radius-16px);
    position: var(--position-rel);
    height: 100%;
    box-shadow: 0px 31.5px 49px 0px #F469684D;

}

.services-box h3 {
    min-height: 60px;
    width: 77%;
}

.services-box h3,
.types-card-head h3 {
    color: var(--red-text);
}


.services-icon {
    margin-bottom: 20px;
    margin-top: -60px;
}
section.development-process .head-text p {
    max-width: 900px;
    margin: 0 auto;
}
section.development-process .head-text h2 {
    max-width: 800px;
    margin: 0 auto 20px;
}
.process-card{
    border: 1px solid  #FD1716;
    background: #FD17161A;
    border-radius:16px;
    padding: 20px 15px;
    position: relative;
    height:86%;
}
.process-card h3{
    margin:15px 0 20px;
}
.top-space{
    margin-top:50px;
}
.process-card-top{
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #070707;
    border: 1px solid  #FD1716;
    border-radius:50%;
    padding: 10px;
    width: 75px;
    height: 75px;
    right: 7%;
    top: -45px;
    text-align: center;
    z-index: 1;
    background: #fff;
}
section.faq {
    position: relative;
}

section.faq .faq-qn .accrd-panel-head {
    display: var(--flex);
    align-items: baseline;
    justify-content: var(--justi-sb);
    gap: var(--gap-15);
}

section.faq h2 {
    text-align: var(--center);
}

.perks-benfits {
    display: var(--flex);
    flex-direction: column;
    gap: var(--gap-25);
}

.accrd-panel-head h4.accrd-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.36px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 0;
}

.accrd-panel-body.active {
    padding-top: 20px;
}

.block-1 {
    background: #FFEEF6;
    border-radius: var(--radius-12px);
    background: #FFEEF6;
    padding: 20px 50px;
    position: relative;

}

.block-1:hover {
    cursor: pointer;
}

.faq-qn ul li {
    list-style: circle;
}

section.faq .faq-qn span.mp-icon {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #000;
    font-size: 24px;
}

section.faq .faq-qn .accrd-panel-head.active span.mp-icon {
    transition: 0.4s ease-in-out;
    transform: rotate(45deg);
}

section.faq {
    margin-top: 80px;
    padding-top: 80px;
}

.benefits-block:last-child {
    padding-bottom: 0;
}

section.advanced-blockchain h2 {
    max-width: 600px;
    margin: 0 auto;
}
 section.development-services .head-text h2 {
    max-width: 800px;
    margin: 0 auto 45px !important;
}
.other-features-tab .nav-pills button h3{
    margin-bottom:0 !important;
}
body.crypto-payment-page section.revenue-modules .item h3{
    min-height:55px;
}

/* carousel */
 section.client-says .swiper-wrapper{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}
.client-says .card-description h3{
  font-size: 32px !important;
  font-weight: 400 !important;
  margin-bottom: clamp(15px,5vw,25px);
}
 .client-says  .swiper-slide {
    border-radius: 26px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 14.44px 43.33px 0px #2E213D14;
    padding:20px 50px;

  }
.client-says  .rating {
  display: flex;
  align-items: center;
}
.client-profile{
  margin-right: 20px;
}
.client-says  .rating-value {
  font-size: 16px;
  margin-right: 10px;
}
.client-says .stars {
  display: flex;
}
.client-says .star {
  font-size: 20px;
  color: #ccc  ;
}
.client-says  .star.full {
  color: #FFA800;
}
.client-says  .star.half {
  color: #FFA800; 
}
  
  .carouselp .explore-btn a span{
margin-left: 10px;
  }
  .carouselp .explore-btn a:hover svg path{
fill:#fff
  }
  .carouselp .explore-btn a{
    border: 1.5px solid #FF0004 !important;
    box-shadow: 0px 0px 42.95px 0px #F72D301A !important; 
    padding: 10px 14px !important;
  }
  .carouselp {
    background: #ffeaea;
    padding: 30px 20px;
    border-radius: 40px;
    /* min-height: 500px; */
  }
  .carouselp-left span{
    text-transform: uppercase;
  }
   .carouselp-left label{
    border: 0.92px solid #0B001A;
    border-radius: 20px;
    padding: 7px 10px;
    margin-right:10px;
    font-size: 17px;
    margin-bottom:20px !important ;
  }
  .carouselp-right img {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  .portfolio-carousel-content{
    min-height: 155px;
    margin-top: 10px;
  }
  .carouselp-left h3{
    font-size: clamp(24px,5vw,36px) !important;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .carouselp-left{
    padding-right: 30px;
  }
  .carouselp-thumbnails {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    overflow:hidden;
  }
  
  .carouselp-thumbnails img {
    width: 137px;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .carouselp-thumbnails img.active {
display: none;
  }
  
  .carouselp-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #bbafaf;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .pagination-dot.active {
    background-color: #ff4b4b;
    transform: scale(1.2);
  }section.cryptocurrency-payment.crypto-geteway.section-top-pt {
    overflow-y: clip;
}
.cryptocurrency-payment.crypto-geteway.section-top-pt .demo-btn{
    margin-bottom:15px;
}
