@import url('./root.css');

* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: ProximaNova;
    src: url("../fonts/Proxima-Nova.otf");
}

@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Regular.otf");
}
body {
    /*font-family: ProximaNova !important;*/
    font-family: poppins !important;
}
.contain-width{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 16px; 
}
h1 {
    font-size: 48px !important;
}
h2 {
    font-size: 40px !important;
}
h3 {
    font-size: 20px  !important;
}
h4{
    font-size: 16px !important;
}
p {
    font-size: 17px !important;
}
ul li{
    list-style: var(--none);
}
a{
    text-decoration: var(--none);
}
h1,h2,h3,h4,h5,h6,p,li{
        letter-spacing: 0.03em;

}
body::-webkit-scrollbar {
    width: 4px;
}
body::-webkit-scrollbar-thumb {
    background: var(--para-clr);
}
body::-webkit-scrollbar-track {
    background: #888;
}
h2 {
    font-weight: 600;
      text-transform: capitalize;
}
ul.social-contact-list {
    list-style: none;
    padding-left: 0;
}
ul.social-contact-list {
    display: flex;
    flex-direction: column;
    z-index: 999;
}
ul.social-contact-list li img {
    padding: 10px;
}
ul.social-contact-list li a {
    position: relative;
    display: block;
}
ul.social-contact-list li a::before {
    position: absolute;
    content: "";
    height: calc(73% + 16px)!important;
    width: calc(87% + -8px) !important;
    top: 0px;
    left: 9px;
    border-radius: 50%;
    border: 3px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite focuse;
    clip-path: circle(50% at 50% 50%);
    background: #ffff;
}
.social-icons-contact-fixed.show {
    transform: translateX(0);
}

@keyframes focuse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    
    75% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
ul.social-contact-list li a:first-child::before{
    border: 2px solid #0084c6 !important;
}
ul.social-contact-list li {
    display: inline-block;
    width: 75px;
    border-radius: 50%;
    text-align: center;
}
.social-icons-contact-fixed {
    position: fixed;
    bottom: 50px;
    z-index: 102;
    left: 0;
    transform: translateX(-800px);
    transition: transform 0.3s ease-in-out;
}
.social-icons-contact-fixed.show {
    transform: translateX(0);
}
.social-contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-contact-list li {
    margin: 10px 0;
}

.social-contact-list li a img {
    width: 40px; /* Adjust size as needed */
    height: auto;
}
@media (max-width: 767.98px) {
ul.social-contact-list {
        /*display: flex;*/
        flex-direction: row;
        z-index: 999;
        margin-bottom: 5px;
        display: flex;
        height: auto;
        gap: 15px;
        justify-content: center!important;
            /*background: #FFEDED !important;*/
        border-radius: 12px;
        /*padding: 10px 20px;*/
    }
    .social-icons-contact-fixed{
        left: 0!important;
        right: 0!important;
        bottom: 0px;
        margin: 0 auto;
        width: fit-content;
    }
    
}
    ul.social-contact-list li img {
    animation: none;
    position: relative;
    width: 55px;
    height: 55px;
}
div#appo-container {
    background: #000000a1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.assistance-bx {
    display: none;
    z-index: 9999;
    background-color: #fff;
    position: fixed;
    left: 43%;
    top: 40%;
    box-shadow: 0 3px 5px -1px rgb(0 0 0), 0 5px 8px 0 rgb(0 0 0), 0 1px 14px 900px rgb(0 0 0 / 70%);
    width: 460px;
    padding: 15px;
}
.inner-pop-up-home {
    left: 50%;
    top: 40%;
    width: 460px;
    border-radius: 25px;
    padding: 15px;
    background: #fff;
    position: absolute;
    margin-left: -200px;
}
.assistance-bx .pclose {
    line-height: 30px;
    float: right;
    text-decoration: none;
    color: red !important;
    font-size: 25px;
    background: #ccc;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
p.lets-talk-pop-up {
    line-height: 1.2;
}
.assistance-bx h2, p.lets-talk-pop-up {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 1px;
    color: #000;
    font-weight: 600;
    font-size: 35px !important;
}
.inner-pop-up-home p {
    font-size: 18px !important;
    text-align: center;
    line-height: 22px;
    font-weight: 500;
}
.assistance-bx p {
    font-size: 13px;
    text-align: left;
    line-height: 16px;
}
.btn-bottom {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-bottom: 10px;
}
a.btn.right.whats-pop-btn {
    background: #178b0f;
    border-radius: 10px;
}

a.btn.left, a.btn.right {
    position: relative !important;
    width: auto !important;
    height: auto !important;
}
a.btn.left.skpe-pop-btn {
    background: #00aff0;
    border-radius: 10px;
}

a.btn.right.tele-pop-btn {
    background: #269dd8;
    border-radius: 10px;
}
.block-1:hover {
    cursor: pointer;
}
section.faq h3 {
    text-align: var(--center) !important;
    font-size: var(--font-36) !important;
}
/*update*/
.swiper-pagination-bullet{
    opacity:var(--swiper-pagination-bullet-inactive-opacity, 0.4) !important;
}
.client-icon img {
    display: none;
}
select#countries{
    max-width:none !important;
}
a.inter_links {
    color: #B10302;
    text-decoration: none;
    transition: color .6s;
    font-weight: 600;
}
a.inter_links:hover{
    color: #cc1212;
    text-decoration: underline;
}
.display_1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.clients-box .review-box {
    text-align: var(--center);
    box-shadow: 5px 5px 0px 0px #FF0000;

    padding: var(--pad-15px);
    border-radius: var(--radius-12px);
    background: var(--white-bg);
    /*170px*/
    width: 202px;
    height: auto; /*150px*/
    line-height: 1.2;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}
section.clent-review span{
     font-size: 16px !important;
    font-weight: 600;
    line-height: 1.4;
}
.review-box p span {
    color: var(--para-clr);
    font-size: 23.99px !important;
    font-weight: 600;
    line-height: 28.63px;
    letter-spacing: 0.005em;
    text-align: left;
}
.clients-box .review-box:nth-child(3) p{
    /*margin-bottom:0 !important;*/
}
.clients-box .review-box p, .clients-box .review-box p span{
margin-top: 0;
min-height: 47px;
font-size: 40px !important;
}
.visit span, .powdred span  {
    font-size: 16px;
}
/*development_steps_outer scroll*/

.development_steps_outer::-webkit-scrollbar {
    width: 10px;
}
.development_steps_outer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.50);
}
.development_steps_outer::-webkit-scrollbar-track {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(102, 102, 102, 0.20) 100%);
}
/*development_steps_outer scroll*/
/*update*/

/* common design style*/
/*owl carousel*/
section.revenue-modules .item img {
  height: 100%;
  object-fit: cover;
}
section.revenue-modules .owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
  border:0 !important;
  outline: none !important;
}
section.revenue-modules .owl-nav button.owl-prev {
  left: 0;
}
section.revenue-modules .owl-nav button.owl-next {
  right: 30px;
}

section.revenue-modules .owl-dots {
  text-align: center;
  padding-top: 15px;
  display:none;
}
section.revenue-modules .owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
section.revenue-modules .owl-dots button.owl-dot.active {
  background-color: #000;
}
section.revenue-modules .owl-dots button.owl-dot:focus {
  outline: none;
}
section.revenue-modules .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

section.revenue-modules .owl-nav button:focus {
    outline: none;
}
section.revenue-modules .owl-item {
  height: 323px !important; /* Adjust this value as needed */
  display: flex;
}
section.revenue-modules .item {
    width: 100%;
    border-radius: 14.996px;
    background: #F8F9FC;
    box-shadow: 0px 2.999px 8.998px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    justify-content: flex-start;
}
/*section.build-crypto .owl-carousel*/
section.revenue-modules .owl-carousel{
    display:block !important;
}
section.revenue-modules .contain-width{
    overflow:hidden;
    padding: 20px 10px !important;
}
section.revenue-modules .item h4,section.revenue-modules .item h3,
section.revenue-modules .item h2 {
    color: #000;
    text-align: center;
    font-size: 24px !important;
    font-weight: 600;
    letter-spacing: 0.24px;
    margin: 25px 0 0;
    min-height: 72px;
}
section.revenue-modules .item p {
    color: #000;
    text-align: center;
    font-size: 14.996px;
    font-weight: 400;
    letter-spacing: 0.15px;
}
/*owl carousel*/
/*vertical common slider */
.development-process-con{
    max-width:482px;
    margin: auto;
}
.development-process-con h2{
    font-size:36px;
    text-align:left !important;
}
.development_steps_outer{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(102, 102, 102, 0.20) 100%);
    padding:25px 27px 25px 23px;
    height: 475px;
    overflow-y: auto;
}
.development_steps_inner{
border-radius: 5px;
background: rgba(255, 255, 255, 0.10);
padding:15px 30px;
margin-bottom:10px;
}
.development_steps_inner p{
color: #FFF;
font-size: 15px;
font-weight: 600;
letter-spacing: 0.15px;
}
.development_steps_inner span{
color: #FFF;
font-size: 14px;
font-weight: 400;
/*letter-spacing: 0.12px;*/
}
.development-process-block {
    background: var(--linear-bg);
    color: var(--white-text);
    padding: var(--pad-30px);
    border-radius: var(--radius-20px);
    margin-bottom: 25px;
}
.development-process-block .row {
    align-items: center;
    justify-content: space-between;
}
/*vertical common slider */
/* common design style*/


.demo-btn a {
    color: #fff;
    position: relative;
    padding: 10px 35px;
    border: 0px solid !important;
    border-color: transparent !important;
    font-size: 16px;
    border-radius: 100px;
    font-weight: 600;
    box-shadow: 0 0 0 2px #fe5855;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    display: inline-block;
    background: rgba(40, 40, 43, 1);
}
.demo-btn a:hover{
    box-shadow: 0 0 0 12px transparent;
    color: #fff;
    border-radius: 12px;
}
.demo-btn a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fe5855;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-btn a:hover:before {
    width: 420px;
    height: 420px;
    opacity: 1;
}
.explore-btn a {
    color: #000;
    position: relative;
    padding: 10px 35px;
    border: 0px solid !important;
    border-color: transparent !important;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    box-shadow: 0 0 0 2px #781d1d;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
}
.explore-btn a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fe5855;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.explore-btn a:hover:before {
    width: 420px;
    height: 420px;
    opacity: 1;
}
.explore-btn a:hover{
    box-shadow: 0 0 0 12px transparent;
    color: #fff;
    border-radius: 12px;
}.section-top-pt{
    padding-top:90px;
}
 .section-top-mt{
    margin-top:90px;
}
.cta-box{
    background-image: url("../images/index/cta-bg.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .cta-box-content h3{
    font-size: 30px !important;
    margin-bottom: 45px !important;
    color: #fff;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 0.02em;
}
 .cta-btn a{
    background: #e8e8e8;    
    color: #000;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    border: unset;
  }
  .cta-btn a::before {
    background: #ff3c3b;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  }
  .common-btn a{
    background: #28282B;  
    color: #fff;
    border: 2px solid #FF1717;
  }
  .common-btn a::before {
    background: #ff3c3b;
  }

  .common-btn a,.cta-btn a{
    padding: 13px 20px;
  
    border-radius: 8px;
    z-index: 1;
    position: relative;
    font-size: 16px;
    transition: all 200ms;
    overflow: hidden;
  }
  .common-btn a::before, .cta-btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 8px;
    transition: all 200ms;
   }
   .common-btn a::before{
    border-radius: 0 !important;
   }
  .common-btn a:hover span,.cta-btn a:hover span {
    color: #fff !important;
    position: relative;
  }
 .common-btn a:hover span svg path, .cta-btn a:hover span svg path{
    fill:#fff;
  }
  .common-btn a:hover::before,.cta-btn a:hover::before {
    width: 100%;
   }
   .common-btn {
    display: flex;
    margin-top: clamp(20px, 5vw, 40px);
}
.strong-benefit-box,
.strong-benefit-box .strong-benefit-img{
        transition: .2s ease-in-out;
            -webkit-transition: .2s ease-in-out;
}
.strong-benefit-box:hover .strong-benefit-img{
    transform: scale(1.1)
}