.head-subpage{gap:var(--gap-25);justify-content:var(--justi-c);align-items:var(--align-c)}button.navbar-toggler{border:var(--none)}nav input{display:var(--none)}ul li{list-style:var(--none)}.close-menu{color:var(--text-black);font-size:var(--font-20);cursor:pointer;display:var(--none)}.nav-links{display:inline-flex;margin:0;align-items:baseline;justify-content:var(--justi-sb);width:100%;padding-left:5px}.drop-down-menu-exch:hover.drop-menu{transition:all 0.3s ease;top:40px;opacity:1;visibility:visible!important;width:90%;transition:.5s;height:auto!important}
@import url('./root.css');

.head-subpage {
    gap: var(--gap-25);
    justify-content: var(--justi-c);
    align-items: var(--align-c);
}
button.navbar-toggler {
    border: var(--none);
}
nav input {
    display: var(--none);
}
ul li{
    list-style: var(--none);
}
.close-menu {
    color: var(--text-black);
    font-size: var(--font-20);
    cursor: pointer;
    display: var(--none);
}
  .nav-links {
    display: inline-flex;
    margin: 0;
    align-items: baseline;
    justify-content:var(--justi-sb);
    width: 100%;
    padding-left: 5px;
  }
  .drop-down-menu-exch:hover .drop-menu{
    transition: all 0.3s ease;
    top: 40px;
    opacity: 1;
    visibility: visible !important;
    width: 90%;
    transition: .5s;
    height: auto !important;
  }
  .drop-down-menu-exch:hover ul.drop-menu.insight {
    width: 20%;
    transform: translate(0, 10px);
    border-radius: 15px;
    top: 50px !important;
}
  .drop-down-menu-exch:hover ul.drop-menu.insight.payment_menu {
    width: 32%;
  }
ul.drop-menu.insight li a {
    color: #000;
}
ul.drop-menu.insight li {
    padding-bottom: 20px;
    list-style: none;
}
    ul.drop-menu.insight{
     transition: 0.4s ease-in-out;
    }
.drop-down-ul.drop-menu{
        left: 150px;
}
  .drop-menu {
    position: var(--position-abs);
    background: #fff;
    width:20%;
    top: 55px !important;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
    z-index: 999;
    transition: .5s;
    /*height: 500px;*/
    
  }
a.nav-link.transition-effect.common-btn.desktop-item {
    display: var(--flex);
   flex-direction:var(--flex-row);
   align-items: var(--align-c);
   gap: 6px;
   padding: 0 9px;
 }
  a.nav-link.transition-effect.common-btn.desktop-item i{
   font-size: var(--font-12) ;
   color: #7e8286;
 }
.tabs {
  margin-top: var(--mar-20px);
}
section.header-sctn.header-new .tab {
    padding: 10px 16px;
    cursor: pointer;
    background:rgba(244, 105, 104, 0.07);
    margin-bottom: var(--mar-10px);
    border-radius:var(--radius-6px);
    border:1px solid rgba(244, 105, 104, 0.07) ;
}
 .tab.icon-flex.active .right-icon svg path{
    fill:var(--para-clr);
}
 .tab.icon-flex.active  .msg-icon svg path{
    stroke:var(--para-clr);
}

.tab.icon-flex.active .right-icon{
    transform: translateX(140px);
}
.right-icon { 
transition: transform 0.3s ease;
}
.tab.icon-flex.active .msg-icon {
    box-shadow: 0px 27px 42px 0px rgba(244, 105, 104, 0.3);
    padding: var(--pad-10px);
    border-radius: 13px;
    background: #fff;
}
.tab.icon-flex.active .services-head p{
   color: var(--para-clr);
   /*font-weight:var(--weight-600);*/
}
.services-head p {
    font-size: var(--font-16) !important;
    font-weight:var(--weight-600);
}
.tab.icon-flex.active{
    gap: 0 !important;
}
.tab-container .tab-content {
    padding: var(--pad-20px);
    display: var(--none);
}
.tab-content.active {
    display: block;
}
li.flyout-right span {
    font-size: 48px;
    font-weight: var(--weight-600);
    color: var(--para-clr);
}
.tab.icon-flex {
    display: var(--flex);
    align-items: var(--align-c);
    gap: 35px;
    height: 70px;
}
.services-head {
    display: var(--flex);
    gap: var(--gap-10);
    align-items: var(--align-c);
}
.services-head p {
    margin-bottom: 0;
}
.exchange-list ul{
    padding-left: 11px;
}
.exchange-list ul li {
    font-size: 16px;
    /*font-weight: var(--weight-700);*/
    white-space: nowrap;
    /*position:reletive;*/
}
.exchange-list ul li a{
    color: #000;
    padding: 15px 10px;
    text-decoration: var(--none);
    display: block;
}
.exchange-left-border {
    position:var(--position-rel);
}
.exchange-left-border:before {
    content: '';
    position: var(--position-abs);
    width: 1px;
    height: auto;
    background: rgba(1, 0, 41, 1);
    left: -25px;
}
.exchange-list ul li:hover {
    /*box-shadow: 0px 27px 42px 0px rgba(244, 105, 104, 0.3);*/
    /*border-radius: 8px;*/
}
.exchange-left-border h3 {
    font-size: 35px !important;
    font-weight: var(--weight-600);
}
.header-link a.nav-link, a.exchange-btn span  {
    color: #000 !important;
    font-weight: var(--weight-600);
    font-size: var(--font-15);
}
a.exchange-btn span{
        display: block;
    padding: .5rem 1rem;
}
ul.drop-menu.insight li a:hover,.exchange-list ul li a:hover {
    color: var(--para-clr);
}
section.header-sctn.header-new {
    box-shadow: 0px 27px 42px 0px rgba(244, 105, 104, 0.3);
    height: 80px;
    padding: 10px 0;
    /* background: #fff; */
    overflow: visible !important;
}
ul.form-btns{
    margin-bottom: 0;
    display: var(--flex);
    justify-content: var(--justi-e);
}
ul.form-btns li a {
    background: rgba(40, 40, 43, 1);
    color:var(--white-text);
    border: 1px solid var(--para-clr);
    padding: 6px 32px;
    font-size: var(--font-15);
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
}
.experts a:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #fff;
    border-radius: 12px;
}
ul.form-btns li a:hover{
    box-shadow: 0 0 0 12px transparent;
    color: #fff;
    border-radius: 12px;
}
i.fa-solid.fa-bars-staggered{
    color: #000;
}
.mobile-item {
    display: var(--none);
}
.navbar-toggler:focus{
    box-shadow: var(--none) !important;
}
.mobile-view{
    display: var(--none);
}
.header-sctn.is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 16px rgb(0 0 0 / 23%) !important;
    backdrop-filter: blur(10px);
    animation: slideDown 0.60s ease-out;
    z-index: 999;
}
@keyframes slideDown{
    0% {
        transform: translateY(-90%);
    }
    
    100% {
        transform: translateY(0);
    }
}

.new-menu{
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
}
.new-menu>li{
   
    list-style-type: none !important;
}

.new-menu li {
    padding-bottom: 20px; 
}
.new-menu li a,.exchange-list ul li a {
    color: #000;
    position: relative;
    display: inline-block;
}
.new-menu li a:hover{
    color: var(--para-clr);
}
.new-menu li a:hover:before {
    content: "";
    position: absolute;
    background: url(../images/right-arw.svg) no-repeat center;
    width: 23px;
    height: 12px;
    right: -24px;
    top: 6px;
    background-size: 16px;
}
.exchange-list ul li a:hover:before {
    content: "";
    position: absolute;
    background: url(../images/right-arw.svg) no-repeat center;
      width: 23px;
    height: 12px;
    right: -15px;
    top: 22px;
    background-size: 16px;
}

section.header-sctn.header-new li a.nav-link.desktop-item {
    position: var(--position-rel);
}
section.header-sctn.header-new li a.nav-link.desktop-item:after{
    content: '';
    position: var(--position-abs);
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--para-clr);
    transition: width 0.3s ease, left 0.3s ease;
    top:40px;
}
section.header-sctn.header-new li a.exchange-btn.desktop-item:after{
    display:none;
}
section.header-sctn.header-new li a.nav-link.desktop-item:hover:after{
    width:100%;
    left: 0;
}
section.header-sctn.header-new li a.nav-link.desktop-item:hover{
     color: var(--para-clr);
}

/* banner css start */
section.banner-sctn h1 {
    /* margin-top: var(--mar-100px); */
    font-size: 48px;
    font-weight: var(--weight-600);
    line-height: 1.2;
}
section.banner-sctn h1 span{
    font-size: 48px;
}
.contain-width.banner-contain {
    padding: 100px 0 0;
}
section.banner-sctn p {
    font-size: var(--font-15);
    max-width: 680px;
    margin: 40px 0;
}
section.banner-sctn {
    position: var(--position-rel);
    box-shadow: 0px -20px 23px 0px #ffe6e6 inset;
}
section.banner-sctn:after {
    position: var(--position-abs);
    content: '''';
    width: 100%;
    height: 100%;
    background: linear-gradient(113.24deg, rgba(255, 100, 97, 0.3) 0.49%, rgba(255, 100, 97, 0) 65.02%);
    top: 0;
    opacity: 0.6;
    z-index: -1;
}
/*.demo-btn a:first-child {*/
/*    color: #fff;*/
/*    position: relative;*/
/*    padding: 10px 35px;*/
/*    border: 0px solid !important;*/
/*    border-color: transparent !important;*/
/*    font-size: 16px;*/
/*    border-radius: 100px;*/
/*    font-weight: 600;*/
/*    box-shadow: 0 0 0 2px #fe5855;*/
/*    cursor: pointer;*/
/*    overflow: hidden;*/
/*    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);*/
/*    z-index: 1;*/
/*    background: rgba(40, 40, 43, 1);*/
/*    display: inline-block;*/
/*}*/
/*.demo-btn {*/
/*    display: var(--flex);*/
/*    align-items: var(--align-c);*/
/*    gap: var(--gap-40);*/
/*}*/
.review-box {
    text-align: var(--center);
    box-shadow: 0px 20.26px 31.51px 0px rgba(43, 43, 43, 0.3);
    padding: var(--pad-15px);
    border-radius: var(--radius-12px);
    background: var(--white-bg);
    width: 170px;
    height: 150px;
    line-height: 1.2;
}
.review-box p {
    font-size: 24px !important;
    font-weight: var(--weight-600);
    margin: 10px 0;
    min-height: 37px;
}
.review-box p span {
    color: var(--para-clr);
}
.clients-box{
    display: var(--flex);
    gap: var(--gap-40);
    justify-content: var(--justi-c);
}
section.clent-review {
    position: relative;
    z-index: 1;
    background: linear-gradient(91.08deg, #000 0, #012442 93.42%);
    padding: 37px 0;
}
/* banner css end */
section.exchange {
    overflow: hidden;
}
.banner-img {
    /*position: var(--position-rel);*/
    top: 0;
    right: 0px;
}
section.exchange .banner-img img {
    width: 899px;
}
.label-field label {
    color: #242627;
    font-weight: var(--weight-600);
}
.sales-contact-form .label-field{
    display:var(--flex);
    flex-direction: column;
    /*margin-bottom: 20px;*/
}

.sales-contact-form .form-group.social-info-block-outer.social-contact-row {
    margin-top: 10px;
    margin-bottom:10px !important;
}
.modal::-webkit-scrollbar {
    width: 4px;
}

.modal::-webkit-scrollbar-thumb {
    background: var(--para-clr);
}
.modal::-webkit-scrollbar-track {
    background: #888;
}
.label-field input.contact-field{
      height: 60px;
}
.label-field input.contact-field,.label-field textarea.contact-field {
    padding: 12px 16px !important;
    margin-top: 10px;
    border-radius: 9px !important;
    border: 0.86px solid #FD171624;
    box-shadow: 0px 23.2px 36.09px 0px #2B2B2B1A;
    width: 100%;
    font-size: 16px;
    color: #7b838a;
    border-radius: 0;
}
label-field textarea.contact-field{
    height:auto !important;
}
.label-field input.contact-field:hover{
    border:1px solid var(--para-clr);
}
.modal-dialog.modal-dialog-centered.contact-form {
    max-width: 600px;
    border-radius: 16px;
    box-shadow: 0px 23.2px 36.09px 0px #F469684D;
}
.sales-contact-form .modal-content {
    padding: 30px 40px 10px;
    border-radius: 16px;
    border: none !important;
}
.sales-contact-form .modal-header {
    border-bottom:none;
    text-align:center;
}
.sales-contact-form .modal-title {
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0.03em;
      margin-bottom:10px;
 }

.sales-contact-form  .modal-body {
      border-radius: 16px;
}

.contact-as-img{
    position: absolute;
    top: -93px;
    left: 5px;

}

.sales-contact-form button.btn-close{
    color: #000;
    font-size: 13px;
    width: 18px;
    margin-left: 2px;
    min-width: 23px;
    height: 22px;
    background-color: #ff8382;
    border-radius: 50%;
}
span.model-close-div {
    position: absolute;
    top: 10px;
    right: 26px;
    background: #fff;
    border-radius: 0 0 0 16px;
    width: 32px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #000 !important;
    border-radius: 0 16px 0 0;
}
.loader-mask {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}
.loader {
    position: absolute;
    left: 48%;
    top: 50%;
    font-size: 0;
    display: inline-block;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    animation: slide-up 1s ease-out forwards;
}
@keyframes slide-up {
    from {
        transform: translateY(100%); 
    }
    to {
        transform: translateY(0);
    }
}
.loader-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}
a.opris-logo, .logo-part{
    transform-style: preserve-3d;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}
/*a.opris-logo img, .logo-part img{*/
/*    aspect-ratio: auto 352 / 132 !important;*/
/*}*/
a.opris-logo:hover,.logo-part a:hover{
    transform: scale3d(0.94, 0.94, 1.01);

}
ul.form-btns li a.btn.btn-primary:active,ul.form-btns li a.btn.btn-primary:focus {
    background-color: rgba(40, 40, 43, 1) !important;
    color: var(--white-text) !important;
    border-color: var(--para-clr) !important;
    box-shadow:none;
}
.mobile-view .accordion-body {
    padding: 0px 10px !important;
}
.mobile-view .msg-icon{
     margin-right: 10px;
}
select.form-select.form-comm-style.countries.contact-field {
    margin-top: 10px;
}
select#country {
    width: 100%;
    height: 60px;
    border-bottom: 1.2px solid rgba(253, 23, 22, 0.14) !important;
    border: 1.2px solid rgba(253, 23, 22, 0.14);
    border-radius: 6px !important;
    box-shadow: 0px 28.19px 43.84px 0px rgba(43, 43, 43, 0.1);
    padding: 12px 17px !important;
}

.code-input {
    display: flex;
}
.code-input input:first-child {
    width: 100px;
    border-radius: 9px 0 0 9px;
    background:#fff !important;
}
.code-input input:last-child {
    border-radius: 0 9px 9px 0;
}
.form-field input:focus, .label-field textarea.contact-field:focus{
    outline:none;
}
.modal-header p {
    margin:0 0 10px!important;
}
.modal.show .modal-dialog {
    transform: none;
}
.sales-contact-form .modal {
       background: #0c0c0c3b;
       z-index: 99999999;
}
.label-field .textarea.contact-field{
    height:auto !important;
}
.btn-close:focus {
    box-shadow:none;
    border:none;
}
ul.form-btns li button {
    color: #fff !important;
    /*position: relative;*/
    display: inline-block;
    padding: 8px 25px;
    border: 1px solid #FFFFFF66;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
   background: linear-gradient(77.51deg, #FF1717 -25.94%, #FF6461 81.55%);
 transition: all 0.2s ease;
}
/*ul.form-btns li button::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-color: #fe5855;*/
/*    border-radius: 50%;*/
/*    opacity: 0;*/
/*    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);*/
/*}*/
/*ul.form-btns li button:hover:before {*/
/*    width: 420px;*/
/*    height: 420px;*/
/*    opacity: 1;*/
/*}*/


ul.form-btns li button:hover{
  box-shadow:0px 4px 10px 0px #00000021, 2px 2px 5px 0px #00000020 inset, -2px -2px 5px 0px #00000020 inset;
  border-color: transparent;
      transform: scale(1.05);
  transition: 100ms;
}
.sales-contact-form .modal-body .form-field section.form-fill {
    padding-top: 0;
}
.exchange-left-border .exchange-list ul li{
    margin-top:10px ;
}
ul.drop-menu.insight li:last-child {
    padding-bottom: 0 !important;
}
a.exchange-btn{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 2.5px !important;
    border-radius: 10px;
 /*box-shadow: 0px 0px 5.3px 0px #0000004D;*/

}
.pro-text span{
 position: absolute;
 background: linear-gradient(133.26deg, #D50004 -52.57%, rgba(168, 0, 3, 0.5) 168.23%);
color: #FFFFFF;
    font-size: 12px;
    padding: 1px 4px;
border-radius:5px;
       top: -13px;
    right: -29px;
    animation: bounceIn 2s infinite;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
a.exchange-btn::before {
background: conic-gradient(from 180deg at 50% 50%, rgba(255, 24, 24, 0) 0deg, rgba(255, 115, 115, 0) 30.92deg, rgba(0, 119, 255, 0) 88.68deg, rgba(17, 0, 255, 0) 145.55deg, rgba(255, 24, 24, 0) 180deg, rgba(255, 115, 115, 0) 214.64deg, rgba(0, 119, 255, 0) 270deg, rgba(17, 0, 255, 0.23) 325.25deg, #FF0000 360deg);
    border-radius: 6px;
    content: '';
    position: absolute;
    left: 50%;
    width: 102%;
    height: 200px;
    z-index: -1;
    top: 50%;
    animation: rotateborder 2s linear infinite;
    transform: translate(-50%, -50%);
}a.exchange-btn span {
    padding: 10px 16px;
    display: inline-flex;
      color: #000 !important;
    font-weight: var(--weight-600);
    background: #fff;
    border-radius: 8px;
    gap: 10px;
    align-items: center;
       font-size: var(--font-15);
}

@keyframes rotateborder {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn)
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn)
    }
}