

h2 {
    font-size: var(--font-40);
    font-weight: var(--weight-600);
    margin-bottom: var(--mar-30px);
    text-transform: capitalize;
}

.banner-part::after {
    position: var(--position-abs);
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(113.24deg, rgba(255, 100, 97, 0.3) 0.49%, rgba(255, 100, 97, 0) 65.02%);
    background: linear-gradient(130deg, #fff 28.92%, #ff4947 83.52%);
    top: 0;
    opacity: 0.4;
    z-index: -1;
}

.section-top-pt {
    padding-top: 90px;
}

.section-top-mt {
    margin-top: 90px;
}

h3 {
    font-weight: var(--weight-600);
    letter-spacing: 0.01em;
}

.define-crypto>.contain-width {
    border-width: 1px 2px 2px 2px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 0px 8px 0px 0px #FD1716;
    border-radius: 50px;
}

.define-crypto-block {
    max-width: 850px;
    text-align: center;
    margin: clamp(15px, 5vw, 30px) auto;
}

section.banner-part {
    padding: 0px 0 40px;
    height: 100vh;
}

section.banner-part>.contain-width>.row {
    align-items: var(--center);
    height: 100%;
}

section.banner-part .contain-width {
    height: 100%;
    display: flex;
    align-items: center;
}

section.banner-part h1 {
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 20px;
    max-width: 584px;
}

.banner-part p.best,
.head-text p.top-text {
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.01em;
}

.head-text p.top-text {
    font-size: 30px !important;
    margin-bottom: 0;
}

.banner-part p.best {
    color: #fd1716;
    font-size: 20px !important;
    margin-bottom: 6px;
}

.banner-part p.success {
    font-weight: 700;
    font-size: 24px !important;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #fd1716;
    text-decoration: underline;
    width: fit-content;
    padding-bottom: 7px;
}

.head-text {
    text-align: var(--center) !important;
    margin-bottom: 50px;
}

.top-features-content .demo-btn {
    margin-top: clamp(0px, 5vw, 40px) !important;
}

/* faq */
section.faq .faq-qn .accrd-panel-head {
    display: var(--flex);
    align-items: baseline;
    justify-content: var(--justi-sb);
    gap: var(--gap-15);
}

.new-numeric-and-text {
    display: flex;
    align-items: center;
    gap: 16px;
}

.block-1 {
    border-bottom: 1px solid #e9e4e4;
    padding: 20px;
    background: rgba(252, 229, 229, 0.4);
}

.block-1 .accrd-panel-head {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.perks-benfits h4 {
    display: flex;
    font-weight: 600;
    font-size: 20px !important;
    letter-spacing: 0.01em;
    color: #000;
    margin-bottom: 0 !important;
    margin-right: 25px
}

span.mp-icon {
    float: right;
    top: 10px;
    height: 30px;
    width: 30px;
    line-height: 35px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
}

.accrd-panel-body-cdp.active,
.accrd-panel-body-sdl.active,
.accrd-panel-body-sps.active,
.block-1 .accrd-panel-body.active {
    display: block;
}

#text-avatar,
.accrd-panel-body-cdp,
.accrd-panel-body-sdl,
.accrd-panel-body-sps,
.block-1 .accrd-panel-body {
    display: none;
}

.perks-benfits p {
    line-height: 1.5;
    margin-top: 20px;
}

span.numeric {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #fd1716;
}

.block-1.coloured,
section.footer-part {
    background: #fce5e5;
}

.accrd-panel-head.active span.mp-icon {
    background: #000;
    color: #fff;
    transition: 0.4s ease-in-out;
    transform: rotate(45deg);
}

section.faq h3 {
    text-align: center;
}

section.faq .contain-width {
    max-width: 980px;
}

section.business-growth .head-text h2 {
    max-width: 950px;
    margin: 0 auto 20px;
}

.business-growth-tab-box h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

section.nft-tech-stack .head-text h2 {
    max-width: 800px;
    margin: 0 auto 20px;
}

.business-growth-tabs .nav-link {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    color: #000;
    border-radius: 10px;
    margin-bottom: 12px;
    background: #FBF5FF;
    box-shadow: 0px 4px 5.3px 0px #0000000D;
}

.business-growth-tabs .nav-link.active {
    background: #0B2131;
    color: #fff;
}

.business-growth-box {
    padding: 30px 40px;
    margin: 20px;
    background: linear-gradient(47.82deg, rgba(255, 23, 23, 0.2) 0%, rgba(255, 100, 97, 0.2) 100%);
    border-radius: 15px;
}

.business-growth-content .business-growth-box h3,
.otc-trade-card h3 {
    font-size: 24px !important;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.business-growth-content .business-growth-box h3 {

    background: linear-gradient(259deg, #012442 0%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.business-growth-content .business-growth-icon {
    margin-bottom: 20px;
}

section.client-says .swiper-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.client-says .card-description h3 {
    font-size: 32px !important;
    font-weight: 400 !important;
    margin-bottom: clamp(15px, 5vw, 25px);
}

.client-says .swiper-slide {
    border-radius: 26px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 14.44px 43.33px 0px #2E213D14;
    padding: 20px 50px;
}

.client-says .rating {
    display: flex;
    align-items: center;
}

.client-profile {
    margin-right: 20px;
}

.client-says .rating-value {
    font-size: 16px;
    margin-right: 10px;
}

.client-says .stars {
    display: flex;
}

.client-says .star {
    font-size: 20px;
    color: #ccc;
}

.client-says .star.full {
    color: #FFA800;
}

.client-says .star.half {
    color: #FFA800;
}

section.globe-projects .head-text h2 {
    max-width: 900px;
    margin: 0 auto 20px;
}

.cta-box-two {
    background: linear-gradient(267.67deg, #012442 1.52%, #000000 155.37%);
    padding: 20px 0;
    color: #fff;
}

.cta-box-two-content h2 {
    margin-bottom: 20px
}

.cta-box-two-content .cta-btn {
    margin-top: clamp(20px, 5vw, 50px);
}

.tech-stack-tabs {
    gap: 15px;
    margin-bottom: 40px;
}

.tech-stack-item button.nav-link {
    color: #000;
    padding: 13px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px;
    background: linear-gradient(47.82deg, rgba(255, 23, 23, 0.2) 0%, rgba(255, 100, 97, 0.2) 100%);
}

.tech-stack-item button.nav-link.active,
.tech-stack-item button.nav-link:hover {
    background: #0B2131;
        color: #fff;
}

.next-gen-content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
    justify-content: center;
}

.next-gen-box {
    border: 1px solid #FD1716;
    border-radius: 10px;
    padding: 20px 6px;
    text-align: center;
    min-width: 170px;
}

.next-gen-box p {
    margin: 10px auto 0;
    font-weight: 600;
    font-size: 16px;
}

section.various-crypto {
    background: linear-gradient(267.67deg, #012442 1.52%, #000000 155.37%);
    padding: 80px 0;
    color: #fff;
}

section.various-crypto .head-text p {
    max-width: 550px;
    margin: 0 auto;
}

.strong-benefit-box p {
    font-weight: 600 !important;
}

.strong-benefits-blocks {
    text-align: center;
    padding: 10px;
    display: flex;
    gap: clamp(15px, 5vw, 60px);
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 900px;
}

.strong-benefit-img {
    margin-bottom: clamp(10px, 5vw, 25px);
}

.top-features-opris-carousel .carousel-item {
    background: linear-gradient(267.67deg, #012442 1.52%, #000000 155.37%);
    color: #fff;
    padding: 40px;
    border-radius: 15px;
}

.top-features-content h3,
.stack-preferable-block h3 {
    font-size: 28px !important;
    margin-bottom: 20px;
}

.top-features-opris-carousel .content-btn.carousel-indicators {
    position: relative;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 2;
    display: flex;
    gap: 15px;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0
}

.top-features-opris-carousel .content-btn.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    width: auto;
    height: auto;
    padding: 10px 40px;
    text-indent: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .6s;
    border-radius: 10px;
    border: 0.4px solid #FD1716;
    background: linear-gradient(47.82deg, rgba(255, 23, 23, 0.2) 0%, rgba(255, 100, 97, 0.2) 100%);
    font-weight: 600;
}

.top-features-opris-carousel .content-btn.carousel-indicators button.active {
    background: linear-gradient(267.67deg, #012442 1.52%, #000000 155.37%) !important;
    color: #fff;
}

.bar-indicator.carousel-indicators2 {
    width: 50%;
    right: 0;
    left: auto;
    top: auto;
    bottom: 1.3%;
    position: absolute;
    display: flex;
}

.top-features-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar-indicator.carousel-indicators2 button.active {
    opacity: 1;
    width: 64px !important;
    border-radius: 10px;
    border: 0 solid #fff;
    background: #FD1716;
    margin-top: 10px !important;
}

.carousel-indicators2 .active,
.swiper-slide-active {
    opacity: 1
}

.carousel-indicators2 [data-bs-target] {
    box-sizing: content-box;
    margin-left: 2px;
    text-indent: -999px;
    background-color: #fff;
    background-clip: padding-box;
    padding: 0;
    cursor: pointer;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity .6s;
    border-radius: 50%
}

.carousel-indicators2-flex [data-bs-target] {
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    margin-right: 12px;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity .6s !important;
    border-radius: 50% !important
}

.bar-indicator.carousel-indicators2 button.active {
    opacity: 1;
    width: 30px;
    border-radius: 10px
}

.bar-indicator.carousel-indicators2-flex button.active {
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: -1px !important;
    background-color: #000
}

.top-features-opris-carousel .carousel-inner {
    margin-top: 50px
}

.top-features-opris-carousel.flex .carousel-inner {
    margin: auto
}

section.stack-preferable {
    margin-bottom: 60px;
}

section.stack-preferable .stack-preferable-block {
    padding: 41px;
    background: #FF64611A;
    border: 5px solid #cb9e9e;
    border-radius: 11px;
}

.right-stack {
    position: relative
}

img.right-opris {
    float: right;
}

.logo-opris-quote-top {
    margin-bottom: 20px
}

.logo-opris-quote {
    padding: 30px;
    background: #fff;
    position: absolute;
    top: 84px;
    box-shadow: 0px 12px 8.2px 0px #00000033;
    border-radius: 8px;
}

.otc-development-card {
    border: 2px solid #cb9e9e;
    padding: 20px 15px;
    height: 93%;
    border-radius: 11px;
    margin-bottom: 10px;
}

.otc-development-card h3 {
    margin: 15px auto;
}

.otc-development-num {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.01em;
    background: linear-gradient(7deg, #ff1717 0%, #ff6461 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.otc-exchange .head-text h2 {
    max-width: 850px;
    margin: 0 auto 20px;
}

.otc-exchange .head-text p {
    max-width: 550px;
    margin: 0 auto;
}

.create-otc-box {
    box-shadow: 0 10px 16px 0 rgba(244, 105, 104, 0.05);
    background: rgba(255, 100, 97, 0.15);
    border-radius: 16px;
    height: 90%;
    padding: 20px;
    border: none;
    margin-bottom: 10px;
}

.otc-icon {
    box-shadow: 0px 4px 4px 0px #0000001A;
}

.oct-box-top {
    gap: 20px;
    align-items: center;
    margin-bottom: 15px
}

.create-otc-box h3 {
    margin-bottom: 0 !important;
}

.benefit-swiper-slider {
    background: #fdeef4;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 440px !important;
}

.benefitSwiper .benefit-swiper-slider h3 {
    margin: 15px auto;
}

.benefitSwiper .swiper-pagination {
    text-align: left;
}

.benefitSwiper .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: #FED1D1;
    transition: transform 0.3s ease-in-out;
    opacity: unset !important;
}

.benefitSwiper .swiper-pagination-bullet-active {
    background: red;
    width: 59px;
    height: 13px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.swiper.benefitSwiper.swiper-initialized.swiper-horizontal {
    padding-bottom: 50px;
}

.otc-trade-img {
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: -8.18px 8.18px 7.12px 0px #00000033;
    width: 90px;
    height: 90px;
    text-align: center;
    align-content: center;
    background: #fff;
}

.otc-trade-card {
    background: #F9EFFF;
    box-shadow: 0px 10px 15.7px 0px #F469680D;
    padding: 61px 59px 26px 18px;
    height: 98%;
    margin-bottom: 20px;
    border: none;
    border-radius: 16px;
    position: relative;
}

.otc-trade-card h3 {
    margin-right: 90px;
    line-height: 1.4;
}