
body{
    font-family:poppins;
}
h2,
section.faq h3,section.key-features .head-text h3  {
    font-size: var(--font-40) !important;
    font-weight: 600 !important;
    margin-bottom: var(--mar-20px);
    text-transform: capitalize;
        line-height: 1.3;
}
h1,h2,h3,h4{ 
  font-weight: 700;
}
.head-text p.top-text,.transformation-solutions p.top-text {
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.01em;
    font-size: 30px !important;
    margin-bottom: 0;
}
.card h3 {
    font-size: 20px;
    font-weight: var(--weight-600);
    letter-spacing: 0.01em;
    text-transform: capitalize;
     line-height: 1.3 ;
}
.banner-img img {
  width: 100%;
}
.max-width-150{
  max-width: 150px;
}
.max-width-200{
  max-width: 200px;
}
.max-width-250{
  max-width: 250px;
}
.head-text {
    text-align: var(--center) !important;
    margin-bottom: 50px;
}
.section-top-pt{
    padding-top:80px;
}
.section-top-mt{
    margin-top:80px;
}
.banner-part .best,.banner-part p.book-free {
    font-weight: 700;
    font-size: 20px !important;
    letter-spacing: 0.01em;
    color: #fd1716;
}
.banner-part .success {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #fd1716;
    text-decoration: underline;
    width: fit-content;
    padding-bottom: 7px;
}
section.banner-part {
    /* padding: 50px 0 0; */
    height: 100vh;
background: linear-gradient(106.91deg, #FFFFFF 40.75%, #FF4947 198.79%);
}
section.banner-part .contain-width{
    height:100%;
    display:flex;
    align-items:center;
}
section.banner-part .explore-btn {
    margin-bottom: clamp(30px,5vw,60px);
    margin-top:40px !important;
}
 section.banner-part h1 {
  letter-spacing: 0.01em;
  text-transform: capitalize;
  margin-bottom: 40px;
    line-height: 1.2 !important;
  font-weight: 700;
  max-width: 550px;
}
.explore-btn a {
  color: #000;
  position: relative;
  padding: 10px 35px;
  border: 0px solid !important;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  box-shadow: 0 0 0 2px #781d1d;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}
.explore-btn a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fe5855;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.explore-btn a:hover:before {
  width: 420px;
  height: 420px;
  opacity: 1;
}
.explore-btn a:hover{
  box-shadow: 0 0 0 12px transparent;
  color: #fff;
  border-radius: 12px;
}
.demo-btn {
  margin-top: 50px;
}
.define-crypto > .contain-width{
  border-width: 1px 2px 2px 2px;
border-style: solid;
border-color: #000000;
box-shadow: 0px 8px 0px 0px #FD1716;
border-radius: 50px;

}
.define-crypto-block{
  max-width: 850px;
  text-align: center;
  margin: clamp(15px,5vw,30px) auto;
}
.transformation-solutions p{
  text-align: justify;
}
.crypto-service-box {
  box-shadow: 0px 9px 5.5px 0px #0000001A;
  padding: 15px 20px;
  height: 90%;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #FD1716;
}
.service-icon{
  border: 1px solid #FD1716;
  box-shadow: -4px 4px 0px 0px #F98E8E;
  padding: 7px 8px;
  border-radius: 8px;
  width: 45px;
  height: 45px;
}
.service-top{
  gap:15px;
  margin-bottom: 15px;

}
.crypto-services .head-text h2{
margin: 0 auto 20px;
}
.crypto-services .head-text p{
  max-width: 800px;
margin: 0 auto;
}
.cta-box{
    background-image: url("../images/index/cta-bg.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .cta-box-content h3{
    font-size: 30px !important;
    margin-bottom: 45px !important;
    color: #fff;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 0.02em;
}
  .cta-btn a{
    padding: 13px 20px;
    border: unset;
    border-radius: 8px;
    color: #000;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-size: 16px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 200ms;
    overflow: hidden;
  }
  .cta-btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 8px;
    background-color: #ff3c3b;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 200ms;
   }
  .cta-btn a:hover span {
    color: #fff !important;
    position: relative;
  }
  .cta-btn a:hover span svg path{
    fill:#fff;
  }
  .cta-btn a:hover::before {
    width: 100%;
   }
.revenue-streams-block{
  max-width: 946px;
  margin: 0 auto;
  /* background-image: url(../Image/centralized-exchange-development-company/svg/revenue-streams-bg.svg); */
  /* background-repeat: no-repeat; */
  padding: 30px 25px;
  background: #ffe5ed;
    border-radius: 40px;
}
.revenue-streams-content {
  margin-bottom: 30px;
  padding: 0 10px;
}
.revenue-streams-content p {
 font-size: 16px !important;
}
.revenue-first-col{
  border-right: 3px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, #FF0000 50%, rgba(255, 0, 0, 0) 100%);
  border-image-slice: 1;
}
section.development-process .head-text p {
  margin: 0 auto;
  max-width: 852px;
}
section.development-process .head-text h2 {
  margin: 0 auto 20px;
}
.process-card{
  border: 1px solid  #FD1716;
  background: #fff;
  border-radius:16px;
  padding: 20px 15px;
  position: relative;
  height:84%;
}
.process-card h3{
  margin:15px 0 20px;
  letter-spacing: 0.03em;
}
.top-space{
  margin-top:50px;
}
.process-card-top{
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #070707;
  border: 1px solid  #FD1716;
  border-radius:50%;
  padding: 10px;
  width: 75px;
  height: 75px;
  right: 7%;
  top: -45px;
  text-align: center;
  z-index: 1;
  background: #fff;
}

/* faq */
section.faq h3{
  font-size: 42px;
  font-weight: var(--weight-600);
  text-align: var(--center);
  margin-bottom: var(--mar-50px);
}
section.faq .faq-qn h4 {
  font-size: 17px !important;
  font-weight: var(--weight-600);
}
section.faq .faq-qn .accrd-panel-head {
  display: var(--flex);
  align-items: baseline;
  justify-content: var(--justi-sb);
  gap: var(--gap-15);
}
section.faq .row {
  align-items: center;
  justify-content: center;
}
.perks-benfits {
  display: flex;
  flex-direction: column;
  gap: var(--gap-25);
}
section.faq .faq-qn .block-1 {
  box-shadow: 0px 11.25px 18.75px -7.5px rgba(20, 23, 24, 0.05);
  padding: 15px 20px;
  border-radius: var(--radius-10px);
  background: rgba(255, 238, 246, 1);
}
section.faq .faq-qn .accrd-panel-head.active span.mp-icon {
  transition: 0.4s ease-in-out;
  transform: rotate(45deg);

}
section.faq .faq-qn span.mp-icon {
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #000;
}
.faq-qn ul {
  padding-left: 20px;
}
.faq-qn ul li {
  padding-bottom: 15px;
  list-style:numeric;
}
.faq-qn ul li a{
  color: var(--text-black);
}
.business-benefits .head-text p{
  margin: 0 auto;
  max-width: 850px;
}
.benefits-blocks{
   height: 533px; 
  overflow-y: scroll;
}
.benefits-blocks::-webkit-scrollbar {
    width: 6px;
}
.benefits-blocks::-webkit-scrollbar-thumb {
    background: var(--para-clr);
    border-radius: 8px;
}
.benefits-blocks::-webkit-scrollbar-track {
    background: #888;
    border-radius: 8px;
}
.business-benefits  .business-benefits-card{
  padding: 15px 20px;
  margin-bottom: 10px;
}
.business-benefits  .business-benefits-top{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.business-benefits  .business-benefits-card.card-even{
  background: #ffeeee;
border-left: 4px solid #FF1717;
}
.business-benefits-card h3{
  font-weight: 600;
  margin-bottom: 0;
  font-size: 16px !important;
}
.business-benefits-card p{
  font-size: 15px !important;
  margin-bottom: 0;
}
.crypto-security-feature .head-text p{
  max-width: 800px;
  margin:0 auto
}
section.revenue-modules .item {
  position: relative;
  border: 1px solid #ff1717;
  border-radius: 5px;
  box-shadow: 3px 4px 7px 0 rgba(0, 0, 0, 0.34);
  background: #fff;
  align-items: unset;
}
section.revenue-modules .img-box {
  border: 1px solid #fd1716;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 30px;
}
section.revenue-modules.section-top-pt .item img {
  height: auto;
  object-fit: unset;
}
section.revenue-modules.section-top-pt .owl-stage{
  display: flex;
}
section.revenue-modules.section-top-pt .owl-item{
  height: auto !important;
}
section.revenue-modules.section-top-pt .owl-nav button.owl-prev {
  left: unset;
  right: 70px;
  top: unset;
  bottom: -10px;
}
section.revenue-modules.section-top-pt .owl-nav button.owl-next {
  left: unset;
  right: 25px;
  top: unset;
  bottom: -10px;
}
section.revenue-modules.section-top-pt .contain-width {
  overflow: visible;
  padding: 25px 10px !important;
}
section.revenue-modules .contain-width .owl-height{
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
section.revenue-modules.section-top-pt .owl-item {
  height: auto !important;
}
section.revenue-modules .item h3,section.revenue-modules .item p{
  text-align:left !important;
}
section.revenue-modules .item h3 {
  min-height: 55px !important;
  margin-bottom: 8px !important;
}
.global-crypto-services .head-text{
  max-width: 100% !important;
}
.global-crypto-services{
  background: var(--linear-bg);
  color: var(--white-text) !important;
  padding: 40px 0;
}
.global-crypto-services .services-tabs{
  gap: 14px !important;
}
.services-item .nav-link{
  border: 1px solid  #FD1716;
  border-radius: 10px;
  background: #fff;
color: #000;
  padding: 10px 20px;
  width: 188px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.services-item .nav-link:hover,.services-item .nav-link.active{
    color: var(--white-text) !important;
background: linear-gradient(57.89deg, #FF1717 -6.53%, #FF6461 92.66%) !important;
}
.services-item .nav-link.active{
  border: 1px solid #FFFFFF !important;
}
.services-item .nav-link span{
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
 
}
.services-tab-content .tab-pane{
  max-width: 850px;
  margin: 20px auto 0;
  text-align: center;
}
.services-tab-content  .demo-btn{
  margin-top: 25px !important;
}
.advanced-blockchain .head-text p{
  max-width: 766px;
  margin: 0 auto;
}
.development-card {
  box-shadow: 0px 31.5px 49px 0px #F469684D;
  padding: 20px 60px 20px 20px;
  margin: 0 20px 25px;
  border-radius: var(--radius-16px);
  height:91%;
}
.development-card-head {
  display: flex;
  align-items: var(--align-c);
  gap: 20px;
  margin-bottom: 15px;
}
.about-crypto .head-text{
  max-width: 950px;
  margin: 0 auto;
}
.about-crypto ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px 25px;
  font-weight: 600;
font-size: 20px;
letter-spacing: 0.01em;
color: #000;
}
.about-crypto li{
  background: #f9efff;
  border-radius: 200px;
  padding: 12px 25px;
}
section.how-it-works .head-text p{
  max-width: 840px;
  margin: 0 auto;
}
.works-card.card{
  border: none;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 2px;
}
.works-card h3{
margin: 13px auto 10px !important;
}
.work-process{
  position: relative;
}
.work-process::before{
  content: "";
  position: absolute;
  background-size: contain !important;
  z-index: 1;
}
.work-process:first-child::before{
  background: url(../Image/p2p-crypto-exchange-development-company/svg/work-process-arrow-1.svg) no-repeat;
  width: 148px;
  height: 18px;
  top: 43px;
  left: 0px;
}
.work-process:nth-child(2)::before,.work-process:nth-child(3)::before{
  background: url(../Image/p2p-crypto-exchange-development-company/svg/work-process-arrow-2.svg) no-repeat;
  width: 252px;
  height: 38px;
  top: 44px;
  left: -116px;
}
.work-process:nth-child(6)::before{
  background: url(../Image/p2p-crypto-exchange-development-company/svg/work-process-arrow-3.svg) no-repeat;
    width: 158px;
    height: 360px;
    bottom: 79%;
    left: 266px;
}
.work-process:nth-child(4)::before,.work-process:nth-child(5)::before{
  background: url(../Image/p2p-crypto-exchange-development-company/svg/work-process-arrow-4.svg) no-repeat;
  width: 286px;
  height: 15px;
  top: 43px;
  right: -161px;
}
a.other-page-link{
  color: #000 !important;
  text-decoration: underline !important;
}