@media (max-width:767.98px) {
    .light-pink-cont {
        width: 70%;
    }
   ul.mobile-view-show {
      
       margin-bottom:0;
   }
   body.landing-page-main-part .meta-vese-inner .tabs .tablinks h4,body.landing-page-main-part .nav-tabs .ctsf .nav-link,body.landing-page-main-part .form-left-content h6  {
       font-size: 20px !important;
    line-height: 24px;
   
   }
    body.landing-page-main-part .form-left-content h5 { 
    font-size: 30px !important;
    line-height: 36px;
   }
     li.nav-item.last-menu a.nav-link.menu-last span {
    font-size: 16px !important;
}
  body.landing-page-main-part li.nav-item.last-menu a.nav-link.menu-last {
   
    padding: 7px 12px 10px 47px !important;
}
   body.landing-page-main-part .crypto-success-ess-img.crypto-exchange-sw-solution-img,body.landing-page-main-part .crypto-success-ess-img.success-crypto-exchange-img {
    display: none;
}
    section.crypto-success-ess .banner-btn {padding-top:0;}
    body.landing-page-main-part section.banner-part,body.landing-page-main-part section.banner-part .banner-leftt  {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
}
.cesd-services-left::before {
    display:none;
}
    .index-form-sectn .multiple-type-ced,
    .most-renow-cesdc,
    .wherever-your-users-are,
    .industry-best-ctsf,
    .ready-made-ce-clone-script,
    .engaging-tool-ces,
    .build-on-any-platform,
    .wherever-your-users-are,
    .our-client-rpfgb,
    .faq-sectn,
    .bitstamp-resemble,
    .crypto-success-ess {
        padding-top: 26px !important;
    }
    .multiple-type-ced-head p, .most-renow-cesdc-title p, .industry-best-ctsf-title, .crypto-success-ess-title p, .ready-made-ce-clone-script-title p, .engaging-tool-ces p, .our-client-rpfgb-content-title p, .industry-best-ctsf-title p, .crypto-success-ess p, .para-banner p,.inner-dev p,.light-pink-cont p,body.landing-page-main-part .types-crypto-part-head p  { 
        font-size:16px!important;
        line-height:22px!important;
    }

.light-pink-cont h3,.inner-dev h2  {
         font-size: 20px !important;
        line-height: 26px;
}
    section.most-renow-cesdc .inner-block-build,
    section.build-on-any-platform .inner-block-build {
        margin: 20px 0;
    }

    /* .multiple-type-ced,
    .most-renow-cesdc,
    .wherever-your-users-are,
    .industry-best-ctsf,
    .ready-made-ce-clone-script,
    .engaging-tool-ces,
    .build-on-any-platform,
    .wherever-your-users-are,
    .our-client-rpfgb,
    .faq-sectn,
    .bitstamp-resemble, */
    .crypto-success-ess-title {
        padding-top: 0 !important;
    }
.landing-page-main-part section.crypto-success-ess .banner-btn {
    padding-top:10px;
}
    .our-client-rpfgb-content-title h5,
    .our-client-rpfgb-content-title h4 {
      
        margin-bottom: 0 !important;
        font-size: 20px !important;
    text-align: center;
    line-height: 26px;
    }

    .our-client-rpfgb-content-title p {
        padding-top: 20px !important
    }
.engaging-tool-ces-block h5 {
    font-size: 20px;
}
    .multiple-type-ced-head h3,
    .most-renow-cesdc-title h4,
    .industry-best-ctsf-title h4,
    .crypto-success-ess-title h4,
    .ready-made-ce-clone-script-title h4,
    .engaging-tool-ces h4,
    .build-on-any-platform-title h4,
    .industry-best-ctsf-title h4,
.crypto-success-ess-title h2,
    .types-crypto-part-head h2,
    .modern-tech-title h4,
    .crypto-success-ess h4 {
        font-size: 20px !important;
    text-align: center;
    line-height: 26px;
     margin-bottom: 10px !important;
    }

    section.build-on-any-platform {
        padding-bottom: 0;
    }

    img.cesd-services-image.img-fluid {
        max-width: 320px;
        width: 100%;
    }

    .crypto-success-ess-img,
    .multiple-type-ced-img,
    .crypto-success-ess-img {
        padding-bottom: 20px;
    }

    section.banner-part h1 {
        margin-bottom: 20px;
        font-size: 30px !important;
        line-height: 38px;
    }

    /*.banner-leftt {*/
    /*    padding: 55px 0;*/
    /*}*/

    .multiple-type-ced-img {
        padding-bottom: 30px;
    }

    .nav-tabs::after {
        display: none;
    }

    .crypto-trading-sw-features {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 26px;
    }

    .crypto-trading-sw-features-tab {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-tabs .ctsf .nav-link.active {

        border-right: none !important;
        border-bottom: 4px solid #CC1212 !important;
    }

    .meta-vese-inner .tabs {

        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .dot-img-text h5 {
    font-size: 16px;
        white-space: pre-wrap;
    }
.dot-img-text {
   
    padding: 8px;
}
    .metaverse.desktop-token-three-ways .meta-vese-inner .inner-tab-content {
        justify-content: space-between;
    }

    .metaverse.desktop-token-three-ways .meta-vese-inner .techno {
        width: 40%;
        text-align: center;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-btn {
    display: flex;
    justify-content: center;
   }
   .banner-btn ul {
    flex-direction: column;
    max-width: max-content;
}
.light-pink-cont, .light-blue-cont {
    width: 65% !important;
    padding-left: 0 !important; 
}
.proc-dev:last-child{
    height:auto !important;
}
.cesd-services-img{
 margin: 20px 0 20px 0;
}

}
@media(max-width: 575.98px) {
    .bitstamp-resemble::before {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    /* .nav-tabs::after{
        display: none;
    } */

    img.cesd-services-image.img-fluid {
        max-width: 320px;
        width: 100%;
    }
    body.landing-page-main-part section.banner-part {
    padding-top: 40px !important;
    padding-bottom: 30px;
}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .features-box h5 {
        font-size: 14px !important;
    }

    .dot-img-text h5 {
        white-space: pre-wrap !important;
    }
    
}

@media (max-width:992px) {

    .engaging-tool-ces-left {
        text-align: left;
    }

    .engaging-tool-ces-center {
        padding: 20px;
        margin-bottom: 20px;
    }
}


a.close-menu, li.clone-close-menu-list, li.exch-close-menu-list {
    display: none;
}
@media (max-width: 1199.98px) {
    div#collapsibleNavbar {
        position:fixed;
        width: 100%;
        background: #000;
        height: 100%;
        z-index: 999;
        padding: 10px;
        top: 0;
        left: 0
    }

    div#collapsibleNavbar ul li a {
        color: #fff!important;
        display: block;
        text-align: center;
    }

    li.nav-item.last-menu {
        margin-left: 0!important;
        margin-bottom: 5px;
        width: 200px;
    }

    div#collapsibleNavbar ul li {
        margin: 10px 0 0
    }

    a.close-menu {
        color: #fff;
        font-size: 28px;
        float: right;
        display: block
    }

    div#collapsibleNavbar ul li a i {
        float: right
    }

    ul.navbar-nav {
        position: relative;
        top: 35px;
        align-items: center;
    }

    ul.drop-down-list-clone,ul.drop-down-list-exch {
        height: 100%;
        width: 100%;
        position: fixed;
        background: #3d3737;
        left: 0;
        top: -6px;
        list-style: none;
        padding: 10px;
        overflow: auto
    }

    li.clone-close-menu-list,li.exch-close-menu-list {
        margin: 0!important;
        border: none!important;
        display: block!important
    }

    li.clone-close-menu-list a,li.exch-close-menu-list a {
        border-bottom: 0!important
    }

    .close-submenu {
        transform: translateY(-200%)
    }

    .logo-part a {
        display: inline-block;
        position: relative;
        z-index: 999
    }

    .navbar-dark .navbar-toggler {
        background: #000
    }

    nav.navbar.navbar-expand-sm li.nav-item.last-menu a.nav-link.menu-last {
        padding: 10px!important;
        text-align: center
    }

    nav.navbar.navbar-expand-sm li.nav-item.last-menu a.nav-link.menu-last span {
        position: relative;
        left: 15px
    }

    nav.navbar.navbar-expand-sm li.nav-item.last-menu a {
        background: #cc1212;
        border: .753333px solid #cc1212;
        border-radius: 37.6667px;
        margin: 0 auto;
        width: 200px
    }

    nav.navbar.navbar-expand-sm li.nav-item.last-menu {
        background: 0 0!important;
        border: 0;
        border-radius: 0
    }

    nav li.nav-item.last-menu::after,nav li.nav-item.last-menu::before {
        display: none
    }

    .form-right-part {
        justify-content: flex-start;
        width: 100%
    }
}


@media (min-width: 576px) and (max-width: 1199.98px) {
    .navbar-nav {
        flex-direction:column!important
    }

    .navbar-expand-sm .navbar-toggler {
        display: block
    }

    .collapse:not(.show) {
        display: none!important
    }

    .navbar-expand-sm {
        flex-wrap: wrap!important
    }

    .navbar-expand-sm .navbar-collapse {
        flex-basis: 100%;
        flex-direction: column
    }

    a.close-menu {
        width: 100%;
        text-align: right
    }
}

@media (min-width: 768px) and (max-width:991.98px) {
    .business-overwhelm-inner p {
        text-align:center!important;
        margin: auto 0;
        display: inline
    }

    h1 {
        font-size: 50px!important;
        line-height: 57px!important
    }

    .h1.head-banner-head-hightlght {
        font-size: 57px !important;
        line-height: 57px!important;
    }

    row.admin-features-of-binance-clone,.row.user-features-of-binance-clone, .row.admin-features-of-binance-clone, section.build-on-any-platform .row {
        justify-content: center
    }

    .process-left {
        position: relative;
        padding: auto 0!important
    }

    section.process-coin.explore-the-benefits .process-right h3 {
        margin-top: 30px
    }

    h1.head-banner-head-hightlght span {
        font-size: 57px!important;
        color: #ff0f0f
    }

    section.footer-part h4 {
        font-size: 25px!important
    }

    section.build-on-any-platform.extended-service .col-md-12 {
        width: 50%
    }

    section.build-on-any-platform.extended-service .inner-block-build {
        min-height: 456px
    }

    section.build-on-any-platform.extended-service .inner-block-build h6 {
        min-height: 50px
    }

    section.footer-part ul {
        padding-left: 0
    }

    ul.follow-icon-list li {
        padding-right: 20px
    }

    h1.response {
        line-height: 70px!important
    }

    .foot-right {
        padding-left: 0!important
    }

    ul.follow-icon-list {
        justify-content: flex-start!important
    }
}

@media (min-width: 768px) and (max-width:1199.98px) {
    .faq-sectn .perks-benfits p {
        padding-left:60px
    }

    span.numeric.n1 {
        margin-right: 39px
    }

    .contain-width {
        padding-left: 25px!important;
        padding-right: 25px!important
    }

    .logo-opris-quote-inner {
        position: relative!important
    }

    section.stack-preferable {
        margin: 50px 0 0
    }

    section.intel-craft {
        margin-top: 0;
        padding: 50px 0 0
    }

    section.cex,section.security-feature {
        padding-top: 50px
    }

    .benefits,.form-sectn {
        padding: 0 0 50px
    }

    .meta-vese-inner .tabs .tablinks {
        margin-bottom: 20px
    }

    .meta-vese-inner .tabs {
        flex-wrap: wrap
    }

    .left-block-dev {
        padding: 40px
    }

    .business-risk h3 {
        padding-bottom: 40px
    }

    .column-22-120px,.column-22-240px,.row.mt-120px {
        margin-top: 50px
    }

    section.softwre-potrait {
        padding: 50px 0;
        position: relative
    }

    .slick-prev {
        left: 0!important
    }

    .slick-next {
        right: 0!important
    }

    div#collapsibleNavbar ul li a i {
        float: none!important;
        margin-left: 15px!important
    }

    a.nav-link.transition-effect,li.nav-item.drop-down-menu-clone:hover ul.drop-down-list-clone,li.nav-item.drop-down-menu-exch:hover ul.drop-down-list-exch {
        text-align: center
    }

    li.clone-close-menu-list,li.exch-close-menu-list {
        text-align: right
    }

    .banner-part {
        padding-top: 0
    }

    ul.navbar-nav {
        top: 0!important
    }

    .form-right-part {
        justify-content: flex-start;
        width: 100%
    }

    .form-img .form-img-inner {
        width: 50%;
        padding: 0;
        margin: 10px
    }

    .form-img .form-img-inner img {
        width: 100%
    }

    .form-img {
        align-items: center
    }
}

@media (max-width: 767.98px) {
    .business-overwhelm-inner p {
        text-align:center!important;
        margin: auto 0;
        display: inline
    }
    .inner-dev {
        text-align: center;
    }
    .accrd-title {
        font-size: 18px ;
    }
    .process-left {
        padding-top: 30px;
        position: relative;
        padding-bottom: 40px!important
    }

    .banner-right,.benefits,.copy-left,.crypto-exchange,.meta-vese-inner .tabs,.ppts-right,ul.navbar-nav li {
        text-align: center
}
    .row.responsive-ps,form#form-help {
        margin-top: 30px
    }

    .contain-width {
        padding: 0 15px!important
    }

    ul.navbar-nav li {
        margin: 5px 0
    }

    div#collapsibleNavbar {
        /*top: 30px;*/
        /*position: relative*/
    }

    section.header-part {
        padding: 20px 0 30px
    }
 
    .block-cdp h4,.block-sdl h4,.block-sps h4 {
        font-size: 23px!important
    }


    .accrd-panel-head span.mp-icon {
        position: absolute!important;
        right: 10px;
        width: 30px;
        top: 10px
    }

    .para-banner-button {
        padding-left: 0;
        position: relative
    }

    .para-banner-button::before,section.softwre-potrait::before {
        display: none
    }

    .crypto-exchange,section.cex,section.security-feature {
        padding-top: 50px
    }

    .crypto-para {
        margin-top: 0!important
    }

    section.softwre-potrait {
        position: relative;
        padding: 50px 0
    }

    .column-22-120px,.column-22-240px,.row.mt-120px {
        margin-top: 50px
    }

    .block-1,.inner-potrait {
        padding: 20px
    }

    .inner-dev,.right-block-dev {
        padding: 25px
    }

    .inner-key-feature {
        padding: 25px!important
    }

    .contain-width.inner-key-feature .row p {
        padding-left: 0;
        margin-bottom: 0
    }

    form#form-help label {
        font-size: 16px
    }

    input.form-control.button-submit {
        padding: 10px 50px 19px!important;
        line-height: 1.5 !important
    }

    .left-block-dev {
        background: #fce5e5;
        padding: 20px
    }


    section.stack-preferable {
        margin: 0!important
    }

    section.stack-preferable .contain-width {
        background: #fce5e5;
        padding: 50px 25px!important
    }

    .logo-opris-quote-inner {
        padding: 20px;
        position: relative;
        top: 0
    }

    section.intel-craft {
        margin-top: 0;
        padding: 50px 0 0;
        background: #f8fafb
    }

    .right-cex {
        padding-left: 0
    }

    .row.mt-120px {
        padding: 0
    }

    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark {
        margin-top: -45px;
        width: 100%;
        justify-content: flex-end
    }

    section {
        overflow: hidden
    }

    ul#countries-flags,ul#social_select {
        width: 100%!important
    }

    ul.navbar-nav li i {
        margin-left: 10px
    }


    .niceCountryInputMenuDropdownContent {
        text-align: left;
        padding-left: 10px
    }


    form#form-help {
        border: 5px solid #dc2626!important
    }
    ul.social-contact-list {
    display: flex;
    flex-direction: row;
    z-index: 999;
    margin-bottom: 5px;
}
.perks-benfits h4 {
    display: flex;
    flex-direction: column;
}
 .nav-tabs .ctsf .nav-link {
        width: auto;
        text-align: center;
    }
}
@media (max-width: 991.98px){
.social-icons-contact-fixed {
    position: fixed;
    right: auto;
    bottom: 0;
    z-index: 999;
}}